[2020-07-13 11:06] Andersson007 opened #4 "mysql_db: ProgrammingError when using quotes"
_Copied from https://github.com/ansible-collections/community.general/issues/148_
_Initially reported by @Andersson007_

_Copied from https://github.com/ansible/ansible/issues/47051_
_Initially reported by @azielke_

##### SUMMARY
When using `quoted` datebase names (e.g. name contains a dot), the database is successfully created on the first ansible run, but subsequent runs return an ProgrammingEr

[2020-07-13 11:07] Andersson007 opened #5 "Set certificate restrictions via mysql_user"
_Copied from https://github.com/ansible-collections/community.general/issues/149_
_Initially reported by @Andersson007_

_Copied from https://github.com/ansible/ansible/issues/65543_
_Initially reported by @robo2bobo_

##### SUMMARY
Mariadb allows us to restrict users by their certificate, could you please add support the SUBJECT, ISSUER & CIPHER parameters?

##### ISSUE TYPE
- Feature Idea

#####

[2020-07-13 11:07] Andersson007 opened #6 "mysql_user: support IDENTIFIED VIA/WITH"
_Copied from https://github.com/ansible-collections/community.general/issues/170_
_Initially reported by @drzraf_

##### SUMMARY
Support user `IDENTIFIED VIA` / `IDENTIFIER WITH` (eg `unix_socket` is one such options)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mysql_user

##### ADDITIONAL INFORMATION
- https://github.com/ansible-collections/community.general/pull/142 / https://github.c

[2020-07-21 06:23] riupie opened #8 "Can not set mysql user password: "The PyMySQL (Python 2.7 and Python 3.X) or MySQL-python (Python 2.X) module is required."}"
##### SUMMARY
I have a task to create user and set update password on create. From this task, I just want to update my password once. So, if I run my task again i will not update my password again. My task run well in first run/execution. But when I run again my task I get this error:
[code]
I have installed PyMySQL via pip and apt, still give the same errors.

##### ISSUE TYPE
- Bug Report

#####

[2020-07-23 08:13] Jorge-Rodriguez commented on #5
This is handled by #9

[2020-07-23 18:35] wedi opened #11 "mysql_replication: master_use_gtid"
##### SUMMARY
I am using a recent version of ansible and a feature [merged back in 2019](https://github.com/ansible/ansible/pull/62648) is not available although the code is still here: https://github.com/ansible-collections/community.mysql/blob/c255d7ece29d79e57d17ad0326a0d6da88c64139/plugins/modules/mysql_replication.py#L109-L118

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_replica

[2020-07-28 06:44] #5 closed

[2020-07-31 09:03] Andersson007 opened #12 "MySQL community pinboard"
_Copied from https://github.com/ansible/community/issues/439_

We could collectively benefit from forming a Working Group related to MySQL and MariaDB integration. We have quite some contributors and users that are interested in improving this integration.

So this issue is a call to potential interested parties (earlier and existing contributors to Ansible). The benefits of having a [Working Grou

[2020-07-31 09:32] bmildren commented on #8
Hi @riupie,

The error you're receiving is because the package can't be found in the paths being searched by the python process running on the target host (PyMySQL needs to be installed on the Ansible managed nodes).

To troubleshoot this I'd begin with running `python3 -c "import pymysql"` on a target host using the user that would be used by the Ansible task to confirm the package is accessible.

[2020-07-31 11:16] Andersson007 commented on #12
cc @bmalynovytch @bmildren @Jorge-Rodriguez @Alexander198961 @tolland @Xyon

[2020-07-31 11:17] Andersson007 commented on #12
@Jorge-Rodriguez feel free to add yourself to the table there https://github.com/ansible-collections/community.mysql/wiki/MySQL-Working-Group

[2020-07-31 12:17] bmildren commented on #11
Hi @wedi

This looks like it was a new feature introduced post 2.9 (https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/modules/database/mysql/mysql_replication.py), as I understand it, new features aren't backported.  That said, this is partly the motivation in switching to collections, so the release cycle of the modules can be decoupled from `ansible-base` (decreasing the time it tak

[2020-08-02 10:35] Jorge-Rodriguez commented on #12
@Andersson007 I don't seem to be able to edit the wiki to add myself to the table.

[2020-08-02 13:38] Andersson007 commented on #12
@Jorge-Rodriguez ah, sorry, just changed settings, could you please try again

[2020-08-02 17:02] Jorge-Rodriguez commented on #12
@Andersson007 alright, I managed now.
On a different matter, do you mind if I place the [chilicorn](https://spiceprogram.org/chilicorn/) logo on the repo readme?

[2020-08-03 06:57] Andersson007 commented on #12
@Jorge-Rodriguez i personally don't mind if it's free to use:) @bmildren @bmalynovytch ?

[2020-08-03 07:10] Jorge-Rodriguez commented on #12
For clarification, chilicorn is a program run by my parent company. So they are subsidizing the work I've been doing here.

[2020-08-03 08:43] bmildren commented on #12
It's just my personal opinion and I hate to be a grinch, but admirable as it is imho we shouldn't add individual programs / sponsorships to a community repo.  It places undue focus on an individual organisation / contributor, and it could get pretty crowded if all members of the working group (current and future), placed sponsorships from their organisations, it would also lead to an awkward clean

[2020-08-03 08:49] Andersson007 commented on #12
in terms of sponsorship, ads, etc., @bmildren 's thoughts sound sensible to me

[2020-08-03 09:35] Jorge-Rodriguez commented on #12
👍 agreed. I'm closing the PR

[2020-08-05 20:46] felixfontein opened #14 "Inclusion of community.mysql in Ansible 2.10"
This collection will be included in Ansible 2.10 because it contains modules and/or plugins that were included in Ansible 2.9. Please review:

* The list of requirements for inclusion in Ansible: https://github.com/ansible-collections/overview/blob/master/collection_requirements.rst
* The roadmap with all important dates for Ansible 2.10: https://github.com/ansible/ansible/blob/devel/docs/docsite/

[2020-08-10 06:21] Andersson007 opened #15 "mysql_user: Allow to check for implicit_admin w/o any action"
_Copied from https://github.com/ansible-collections/community.general/issues/755_
_Initially reported by @Akasurde_

_From @MarcinOrlowski on May 04, 2017 15:06_

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A

##### SUMMARY
Would be useful to use `mysql_user` with just `check_implicit_admin` (no `name` given) which com

[2020-08-10 06:22] Andersson007 commented on #15
From @Andersson007 on Jun 09, 2020 09:33

can't we do it as it is now using
[code]
?
needs_info

[2020-08-12 12:58] anthonyxpalermo commented on #8
awx docker
deployment version 14.0
awx_task

I encountered the same issue and it turns out, in my case that PyMySQL was not present in the awx_task container. Installing it in the container correct the issue.
It turns out that I was using a connection: local , and that was causing pymysql to be requested in the container. Correcting the request to an inventory destination other the localhost guara

[2020-08-12 13:26] gundalow commented on #8
@anthonyxpalermo Thank you for confirming where the issue was.

I wonder what we could improve to make this clearer for others in the future.

Maybe something like https://github.com/ansible-collections/community.general/blob/main/plugins/modules/web_infrastructure/apache2_mod_proxy.py#L364-L365

[2020-08-12 14:19] Andersson007 commented on #8
@riupie hi,
has what @bmildren said helped solve the problem? Sounds like a solution to me.

Important questions in this case:
- Do you have all the required libraries installed on target machines, e.g. PyMySQL? (if you use your ansible controller as a target machine, it needs to be installed on this as well)
- What your ansible default interpreter on targets
- Do you have all the requirements ins

[2020-08-12 18:01] anthonyxpalermo commented on #8
@gundalow
I think that would work. It took me a while to figure out what/where was the issue.

[2020-08-17 06:59] riupie commented on #8
Issue still appear. Running well  on Ubuntu 20.04. I checked PyMySQL on my target host and it exists.

[2020-08-17 13:56] Andersson007 commented on #14
I've just released the collection from main using 1.0.0 tag

[2020-08-17 14:02] #14 closed

[2020-08-23 18:48] drzraf opened #20 "mysql_user support of REQUIRE NONE to remove granted REQUIRE-SSL"
##### SUMMARY
There is no way to remove the "REQUIRE SSL" mysql privilege ... other than rewriting the whole set of permission which is not practicable (especially when depending upon `append_privs=yes`)

Eg: After setting `REQUIRESSL`
`-  mysql_user: name=muser priv="*.*:REQUIRESSL" append_privs=yes`

... there is no way to revert such a directive. Normally this is done using REQUIRE NONE
But thi

[2020-08-24 14:06] jboulen commented on #6
Hello,

Maybe this feature is already implemented, isn't it ?  See [documentation here](https://github.com/ansible-collections/community.mysql/blob/0810cd00c66a966b211503c9f55f2a215f213f30/plugins/modules/mysql_user.py#L96) and [code here](https://github.com/ansible-collections/community.mysql/blob/0810cd00c66a966b211503c9f55f2a215f213f30/plugins/modules/mysql_user.py#L490).

This example works fo

[2020-08-24 15:33] drzraf commented on #6
IIRC a leftover was that only `IDENTIFIED WITH` was implemented although depending on MariaDB vs MySQL, some version only supports `IDENTIFIED VIA`.

[2020-09-02 18:14] luto opened #21 "cannot set user password with --strict-password-validation enabled since v2.9.x"
##### SUMMARY

Somewhere between ansible 2.8 and 2.9 the way `mysql_user` sets the mysql user password changed from

[code]

to

[code]

(see [mysql_user.py#L466-L477](https://github.com/ansible-collections/community.mysql/blob/main/plugins/modules/mysql_user.py#L466-L477))

Setups using `strict_password_validation = on` to enforce certain password requirements (e.g. minimum length) break after th

[2020-09-08 15:13] arcmop opened #22 "Documentation for configuration using requirements.yml is wrong"
Hi,

Documentation says:
[code]

But "v" letter in version is incorrect and result with error using command ansible-galaxy collection install .... (Standalone or using Ansible Tower/AWX)

[code]

Best regards.

[2020-09-08 15:18] gundalow commented on #22
@arcmop Good spot, you are correct the `v` should be removed.
Would you be interested in raising a PR to update https://github.com/ansible-collections/community.mysql/blob/main/README.md ?

[2020-09-08 16:39] arcmop commented on #22
Hi @gundalow of course.

PR is: https://github.com/ansible-collections/community.mysql/pull/23

Greetings.

[2020-09-08 16:59] #22 closed

[2020-09-09 05:28] Andersson007 commented on #11
Hi, yes, @bmildren is right, backporting features is forbidden in the project.
Though community.mysql collection 1.0.0 has recently been released https://galaxy.ansible.com/community/mysql
@wedi you could download and try https://docs.ansible.com/ansible/latest/user_guide/collections_using.html.
It should work with 2.9 as far as i know.
Any feedback would be much valuable.
So, i'm closing the issu

[2020-09-09 05:28] #11 closed

[2020-09-09 05:32] Andersson007 commented on #20
cc @Jorge-Rodriguez

[2020-09-09 05:41] Andersson007 commented on #8
@riupie what is your ansible default interpreter on the target machine? PyMySQL must be installed for this interpreter, i.e. if you're interpreter is Python 2, it needs PyMySQL for Python 2. The error message from the description appears only when the module can't `import ...` one of the libraries.
I'll close the issue and make a note in the doc because i stumbled on this once as well. Can be a so

[2020-09-09 06:06] Andersson007 commented on #8
https://github.com/ansible-collections/community.mysql/pull/24

[2020-09-09 06:14] Jorge-Rodriguez commented on #20
This should be handled by saying the `tls_requires` parameter to an empty dictionary.
Requires should not be used to handle TLS connection requirements

[2020-09-09 08:17] Andersson007 commented on #20
@Jorge-Rodriguez 1) shouldn't we cover the case by CI tests and 2) add an example to EXAMPLE block?
If you want (I think it would be great because you're the feature's author, so you know better), feel free to make a PR. If not, I could.

[2020-09-09 08:24] mixe3y opened #25 "The mysql_user module creates user with elevated privileges if append_privs is set to yes"
##### SUMMARY
During use of the mysql_user module when we create a **new user** but the append_privs parameter is set to 'yes' ansible will create the user with elevated privileges (GRANT ALL on *.*).
This is a new issue and the expected results are generated with previous version of ansible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION
[code]

##### MYSQL

[2020-09-09 09:41] Jorge-Rodriguez commented on #20
@Andersson007 I'll have to look at the code, but I vaguely remember that we have both of those things.
But if it turns out that I'm wrong about this, I'll be more than happy to add it.

[2020-09-15 12:22] Andersson007 opened #27 "Documentation: Add note to README how to run CI tests locally"
##### SUMMARY
Documentation: Add a note to README how to run CI tests locally.

Now it fails when not default container is specified. We must run it just with `--docker` cli argument without passing any distribution name

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
README.md

[2020-09-17 14:43] ldesgrange opened #28 "Disable hostname check"
##### SUMMARY
When connecting to MySQL with REQUIRE SSL, when the hostname check fails the task (`mysql_db`, `mysql_user`) throws an exception. It could be useful to be able to ignore the hostname check.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`community/mysql/plugins/module_utils/mysql.py`

##### ADDITIONAL INFORMATION
The hostname check can fail for self-signed certificate (dev en

[2020-09-18 09:37] riupie commented on #8
Solved by adding `interpreter_python=/usr/bin/python3` on ansible.cfg

[2020-09-18 09:37] #8 closed

[2020-09-18 18:53] johnavp1989 opened #29 "Create user with mysql_user fails with "no database selected""
##### SUMMARY
Creating a database user fails with the error "no database selected". This is similar to #68070 which was addressed by #255 but this use case appears to have been missed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_user module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 19 on the host and Ubuntu 18 on the target.

##### STEP

[2020-09-20 06:52] Jorge-Rodriguez commented on #29
This is not an error, you're not specifying your privileges correctly, see https://github.com/ansible-collections/community.mysql/blob/main/plugins/modules/mysql_user.py#L45

Your task should be:
[code]

[2020-09-20 07:00] Jorge-Rodriguez commented on #28
@ldesgrange can you provide a way to reproduce? If we implement this we need a reliable way to test the integration.

[2020-09-20 07:17] Jorge-Rodriguez commented on #25
@mixe3y Can not reproduce with the collection on this repository. You might be using the packaged Ansible module and not the community collection. This bug should be filed on the Ansible repository instead.

Ping @Andersson007

[2020-09-20 07:20] Jorge-Rodriguez commented on #21
Ping @bmildren

[2020-09-20 08:38] mixe3y commented on #25
I came from there :(

https://github.com/ansible/ansible/issues/71681

[2020-09-20 09:49] Jorge-Rodriguez commented on #25
@mixe3y have you tried using the collection module instead, and see if that helps?
https://github.com/ansible-collections/community.mysql#using-this-collection

[2020-09-20 15:38] ldesgrange commented on #28
@Jorge-Rodriguez sorry, I forgot to provide that in the ticket description. You can reproduce this issue by doing the following:
- install a debian 10 in a virtual machine (like VirtualBox)
- install mysql 8 on it:
[code]
- Run a task (from the ansible host, not from within the vm) like this (after copying `ca.pem` and `server-cert.pem` from the vm then merging them together in `server.pem`):
[cod

[2020-09-21 04:39] #20 closed

[2020-09-21 04:46] Andersson007 commented on #29
@johnavp1989 could you please try what @Jorge-Rodriguez 's suggesting? If it works, please close the issue and the PR.

[2020-09-21 05:11] Andersson007 commented on #25
@apollo13 can't the bug be related to https://github.com/ansible-collections/community.general/pull/58 ?

[2020-09-21 05:13] Andersson007 commented on #25
@mixe3y what do you mean saying `previous`, 2.9.9 or 2.8.*?

[2020-09-21 06:26] Andersson007 commented on #21
@bmalynovytch , seems that it can be related to  https://github.com/ansible/ansible/pull/45355 , could you please take a look

[2020-09-21 06:52] apollo13 commented on #25
I cannot repro on ansible 2.10.1rc3 or 2.9.13 (I did not test the 2.9.10 @mixe3y used because as far as I am concerned this is an unsupported version). I get the following grant table:
[code]

Everything is possible, but I somewhat doubt it.

[2020-09-21 07:36] bmalynovytch commented on #21
https://github.com/ansible/ansible/pull/45355 is way older than 2.9.
I checked git blame and it seems to be related to https://github.com/ansible-collections/community.mysql/pull/9.

[2020-09-21 07:51] Jorge-Rodriguez commented on #21
@bmalynovytch #9 is my change. Can you elaborate on how it's related?

[2020-09-21 08:41] Andersson007 commented on #25
@apollo thanks for your responce! Waiting @mixe3y 's freedback then.

[2020-09-21 08:58] mixe3y commented on #25
Thank you guys, for all your help! I really appreciate it!

I made some testing and I found the issue somewhere else in my mysql role.

Sorry for the inconvenience!

I close this issue now.

[2020-09-21 08:58] #25 closed

[2020-09-21 09:02] Andersson007 commented on #25
@mixe3y no problem! Feel free to report issues at any time you notice something suspicious, will be happy to sort it out together.
@Jorge-Rodriguez @apollo13 thanks for reviewing!

[2020-09-21 09:33] bmalynovytch commented on #21
Ok, fair, I didn't dig deep enough.
The issue is many years old and seem to concern updates which all provide hashed passwords to MySQL/MariaDB.
https://github.com/ansible/ansible/pull/45355 reproduces the same behavior as before but handles all existing variants of queries depending on versions of MySQL/MariaDB at that time.

To sum up, I'd say : `--strict-password-validation` would only work wit

[2020-09-21 11:23] Jorge-Rodriguez commented on #28
@Andersson007 I can have a go at this, but I cannot assign the issue to myself

[2020-09-21 14:03] Andersson007 commented on #28
@Jorge-Rodriguez done, thanks!

[2020-09-22 20:22] johnavp1989 commented on #29
@Jorge-Rodriguez Thanks, this was a misunderstanding on my part.

[2020-09-22 20:22] #29 closed

[2020-09-23 05:13] Andersson007 commented on #29
@johnavp1989 thanks for the feedback!

[2020-09-23 09:11] Andersson007 opened #31 "Release plan"
##### SUMMARY
_(partially copied from https://github.com/ansible-collections/community.crypto/issues/74 , thanks to @felixfontein)_

We should decide eventually on how to release this collection (w.r.t. versioning).
Small collections like this one don't need a complex plan like the one for community.general and community.network.
So how about the following?

1. Release minor and patch releases whe

[2020-09-23 09:15] Andersson007 commented on #31
Questions:
1) Releasing without branches as described in the description is ok for everyone?
2) I suggest releasing version 1.0.1 on 2020-09-30 (next week Wednesday). As far as I can see, there were only fixes merged since the last release. Any thoughts?

[2020-09-23 09:19] felixfontein commented on #31
This approach is reasonable and a good idea IMO :) For community.crypto, we eventually will have a 2.0.0 version with breaking changes (when removing something we deprecated), and then we'll add a stable-1 branch so we can still backport bugfixes (or even features, if we really want to) to release new 1.x.y versions.

I guess as long as there is no need to make a breaking change, sticking to `main

[2020-09-24 14:36] Berbe opened #33 "mysql_db module complains about lack of no_log use"
##### SUMMARY
A warning is being issued while no sensitive data is being displayed: defect in the module?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`mysql_db` module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
No warning

##### ACTUAL RESULTS
[code]

[2020-09-25 07:03] Andersson007 commented on #33
@Berbe thanks for reporting the issue! I'm working on fixing this

[2020-09-25 07:32] Andersson007 commented on #33
https://github.com/ansible-collections/community.mysql/pull/34
this is a false warning related to a new parameter, fixed

[2020-09-27 10:16] Jorge-Rodriguez commented on #28
I had a look. We can implement this but it's only supported by later versions of pymysql and not by myself.
Of course we can make the support for this option conditional on the underlying connector.

[2020-09-28 05:17] #33 closed

[2020-09-28 05:18] Andersson007 commented on #33
i've just merged the pr. Warnings should disappear in community.mysql 1.0.1 release, which is planned this week

[2020-09-28 05:18] Andersson007 commented on #33
@Berbe thanks for reporting this!

[2020-09-28 05:29] Andersson007 commented on #28
@Jorge-Rodriguez feel free to implement.
The most important is not to affect other versions and make a **note describing dependencies** for this (minimal version in this case).
So better to test the feature locally as well with old (but supported) versions of MySQL and PyMySQL and **mysqldb** (at least that it's not become worse).

[2020-09-28 05:29] Andersson007 commented on #28
I'll provide a review

[2020-09-28 17:19] Jorge-Rodriguez commented on #28
@Andersson007 I'm at a bit of a loss here. I've got the functionality ready, but I can't figure out how to plan the tests since there are three possible outcomes; success, failure because pymysql is old and failure because we're using mysqldb.
Do you have any suggestions?

[2020-09-28 19:03] Andersson007 commented on #28
@Jorge-Rodriguez I think you can include CI tests in your PR only for a proper version of PyMySQL (get it from a shell and put your tests in a `block:` using `when:` if the default version in CI system is older than needed.
Test with an old version and mysqldb, at least, **locally** (if it's impossible to check which the connector is used in CI) and be sure that everything works as expected: it mu

[2020-09-28 19:05] Andersson007 commented on #28
e.g.
[code]
pymysql is a variable containing a connector version registered right before.
I'm not sure it's possible, it's just a suggestion that could theoretically work

[2020-09-28 19:06] Andersson007 commented on #28
Also you could create a PR marked as `[WIP]` and add the tests later

[2020-09-29 06:40] Andersson007 commented on #31
community.mysql 1.0.1 has just been released https://github.com/ansible-collections/community.mysql/tags

[2020-09-29 14:07] Jorge-Rodriguez commented on #28
@ldesgrange Can you verify whether this is an issue with the MySQLdb connector? It appears that MySQLdb does not do hostname verification at all.

[2020-09-30 12:14] hluaces opened #39 "Syntax error on user updates CentOS6 with "hosts_all" enabled"
##### SUMMARY

Trying to update a mysql user using the `mysql_user` module with `hosts_all: true` fails on CentOS6 machines which are being provisioned with Ansible 2.10.1:

[code]

I've been playing around and found that changing the list in [this line](https://github.com/ansible-collections/community.mysql/blob/998913e5d2bb65f19b7e8aafdf2069d31532437c/plugins/modules/mysql_user.py#L530) to a sin

[2020-09-30 12:22] ldesgrange commented on #28
Hi, sorry for the late reply, I didn't managed to install MySQLdb on my mac. I checked on a Ubuntu computer and indeed it seems to work as is with MySQLdb. So I think you are right, MySQLdb does not check the hostname.

[2020-09-30 13:15] Andersson007 commented on #39
@hluaces hey, thanks for reporting the issue!
Have you tried to remove a user using `host_all=yes`?

[2020-09-30 13:21] Andersson007 commented on #39
From the doc (for 2.9)
{noformat}
  38   host_all:
  39     description:
  40       - Override the host option, making ansible apply changes to all hostnames for a given user.
  41       - This option cannot be used when creating users.
{noformat}
This feature can't be used when creating a user. Let's see what is this when we're modifying users..

[2020-09-30 13:29] Andersson007 commented on #39
Looks related to https://github.com/ansible-collections/community.general/pull/490/files
I'll look at this later

[2020-09-30 13:34] hluaces commented on #39
Hey @Andersson007 , thanks to you for your reply and your work.

Deleting users works properly.

Yeah, that's on me, I apologize. I'm  actually updating a user password on my task so I can confirm that it does happen on user updates. I'll edit the original issue to avoid further confusion.

[2020-09-30 13:46] Andersson007 commented on #39
You're right! I modified the function fixing a bug but didn't modify its invocation. Your suggestion should work, testing now

[2020-09-30 13:53] Andersson007 commented on #39
@hluaces could you please confirm there https://github.com/ansible-collections/community.mysql/pull/40 that everything works as expected with the suggested change?

[2020-09-30 13:59] Andersson007 commented on #39
@hluaces no needed, i added CI tests

[2020-09-30 14:00] Andersson007 commented on #39
once they passed i'll merge the PR and later today or tomorrow will release community.mysql 1.0.2

[2020-09-30 14:02] hluaces commented on #39
That's great, @Andersson007; and very quick. Thank you very much for your work.

Right now I'm using the pip `ansible` package. I'm not really familiar with the development cycle of Ansible, it's pip packages and the new community collections. Do you have any idea as to when these changes will reach pip?

[2020-09-30 14:08] Andersson007 commented on #39
@hluaces you and community are welcome! Thank you for quick reporting!
When community.mysql 1.0.2 is released, you can install it separately https://docs.ansible.com/ansible/latest/user_guide/collections_using.html
I'll put a note here.

[2020-09-30 19:11] Jorge-Rodriguez commented on #6
@drzraf can you provide the versions that support each idiom?

[2020-09-30 19:37] #39 closed

[2020-09-30 19:52] Andersson007 commented on #31
if nobody's against, i would release 1.0.2 on 01.10.2020 (tomorrow) because of https://github.com/ansible-collections/community.mysql/pull/40

[2020-10-01 05:26] Andersson007 commented on #31
I've just released 1.0.2

[2020-10-01 05:38] Andersson007 commented on #39
@hluaces the fix release tarball is now available on https://galaxy.ansible.com/community/mysql , would be grateful for any feedback

[2020-10-01 07:57] hluaces commented on #39
My CI passed correctly when installing the collection via `ansible-galaxy`.

Now I'll try to find out when it will be ported to the `ansible` pip package.

Thank you!

[2020-10-01 08:54] Andersson007 commented on #39
@hluaces cool, thanks for the quick feedback!

[2020-10-01 20:30] anthonyxpalermo opened #43 "mysql_query task hangs indefinitely seems to be waiting on response from db"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mysql_query

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS local connecton

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect that the task completes and moves to the next task

##### ACTUAL RESULTS

Task hangs never moves on even if the mysql_query option connect_timeou

[2020-10-01 21:40] drzraf commented on #6
https://wiki.debian.org/MySql

About supporting both: I *believe* MySQL still doesn't support `IDENTIFIED VIA` and MariaDB **10.4.0** [introduced](https://jira.mariadb.org/browse/MDEV-12321) the support for `IDENTIFIED WITH`. But again, not sure (I updated my own stack for a while)

[2020-10-02 05:52] Andersson007 commented on #43
@anthonyxpalermo hey, thanks for reporting this!
A couple of qustions:
1) Have you tried to use another distributions? Is it difficult for you to try this against a Linux distribution (because i can reproduce it using our CI container based on Linux)
2) If you run another query, e.g. "SELECT 1" or anything else, the task hangs?
3) When the task's hanging, could you please, enter your database in a

[2020-10-02 06:59] Andersson007 commented on #27
@bmildren please take a look https://github.com/ansible-collections/community.mysql/wiki/Testing-your-changes and fix if you find anything wrong or add anything you consider important

[2020-10-02 06:59] Andersson007 commented on #27
@Jorge-Rodriguez ^

[2020-10-02 15:11] anthonyxpalermo commented on #43
A couple of qustions:

Have you tried to use another distributions? Is it difficult for you to try this against a Linux distribution (because i can reproduce it using our CI container based on Linux)

- I am not able at the moment to test this in a different Distro

If you run another query, e.g. "SELECT 1" or anything else, the task hangs?
The Tasks does not always hang , out of 4000 entries it o

[2020-10-02 22:58] Jorge-Rodriguez commented on #43
Could it be OOM on the invoked subprocess? If that's the case the call to communicate would forever wait for a response that won't arrive. It's not the only possible cause, but it's one that won't show on the ansible logs.

[2020-10-04 07:36] Jorge-Rodriguez commented on #43
@anthonyxpalermo Another question to help pinpointing this issue. Can you confirm that you're actually using this collection and not the Ansible bundled module? In your sample code the task module appears as `mysql_query` rather than `community.mysql,mysql_query`.
Thanks.

[2020-10-04 07:45] Jorge-Rodriguez commented on #27
@Andersson007 In my experience, none of the **Prepare Testing Environment** steps are needed, except for the installation of docker. But it is necessary to place the collection repository in a path where `ansible-test` expects it.

[2020-10-05 06:33] Andersson007 commented on #27
@Jorge-Rodriguez thanks for looking at that!
The steps can be needed to use the dev version of `ansible-test`, I stumbled upon that once, it can be important but, on the other hand, it was a couple of months ago, maybe it's not so relevant after the stuff with collections got stable.
Anyway, i'd use dev version of ansible-test. I'll make a note.

Ok, will be waiting your feedback, feel free to fix

[2020-10-05 06:46] Andersson007 commented on #43
@anthonyxpalermo thanks for fast reply!
In addition to @Jorge-Rodriguez 's question, could you also please:
1) provide rows of `ps aux` related to ansible processes on the target machine when a task hanging
2) do `grep -i "fatal\|error\|warning\|panic\|something else" ...` of mysql and system logs after hanging (or share the logs if it's ok for you, i could parse them myself)

[2020-10-05 14:09] anthonyxpalermo commented on #43
68830 palea009   22   0 9537M  104M ?  0.0  0.3  0:02.17    │  │  │  └─ /Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper (Renderer).app/Contents/MacOS/Code Helper (Renderer) /Users/palea009/.vscode/extensions/vscoss.vscode-ansible-0.5.2/node_modules/vscode-languageclient/lib/utils/el
69173 palea009   24   0 5046M 55544 ? 13.0  0.2  0:12.84    │  │     └─ /Users/palea009/.pyenv/

[2020-10-05 14:11] anthonyxpalermo commented on #43
made change from `mysql_query` to `community.mysql.mysql_query`
will post once playbook ends

[2020-10-05 14:22] anthonyxpalermo commented on #43
issues remains even with
community.mysql.mysql_query

TASK [aws-acm : Insert {{hostname_item}} and {{ports_item}} Records to our DataBase] *******************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "The community.mysql.mysql_query action failed to execute in the expected time frame (10) and was te

[2020-10-05 14:26] anthonyxpalermo commented on #43
the records for these failures are not added to the DB.
I did check that this does not happen to a specific record has previous run same record did not fail, so its not related to the record info being added to the DB

[2020-10-05 14:48] Andersson007 commented on #43
@anthonyxpalermo could you also try to run the same query using shell module?

[2020-10-05 14:49] Andersson007 commented on #43
Just interesting if this hangs again

[2020-10-05 15:04] anthonyxpalermo commented on #43
How do I do this ?

[2020-10-05 15:16] Jorge-Rodriguez commented on #43
[code]
Connection parameters notwithstanding. Essentially the command you'd run by hand in bash as a parameter to the `shell` module.

In fact, it would be interesting to know if the query succeeds when run by hand too.

[2020-10-05 15:22] Jorge-Rodriguez commented on #43
Also, on your psaux output, I can see processes running the `aws_acm_info` module but none running the `mysql_query` module.

[2020-10-05 15:34] Jorge-Rodriguez commented on #43
You may also want to use the quote filter instead of regex_replace. If this is an OOM, that might help.

[2020-10-05 15:34] anthonyxpalermo commented on #43
Not sure why in MacOS you don't see that. the module mysql query runs and after it complete the playbook cycles again

[2020-10-05 16:00] anthonyxpalermo commented on #43
do you mean here ? 'query:
        - INSERT INTO etl_in_aws_acm_certs_last_mile ( {{ acm_to_db.keys() | join(', ') }} ) VALUES ( {{ acm_to_db.values() | map('regex_replace', '^(.*)$', "'\1'") | join(', ') }} )
      single_transaction: yes'

could you post how ? I am not familiar with how to use that option

[2020-10-05 16:03] anthonyxpalermo commented on #43
It sounds like I would need to refactor the whole query instead of just dropping in because I need to account for Connection Parameters.

I can say that we use same query on smaller playbooks , lot less data to pass and we never have this issue. There are also other playbooks like mentioned before that connect and write to this DB none have issues.

[2020-10-05 17:03] Jorge-Rodriguez commented on #43
In that case, I would not think the issue lies within the module itself.
Maybe you can tweak the playbook concurrency, or maybe the issue lies with the concurrent connections in RDS. I've had issues with connections not being closed properly (which I could verify we're handling properly).

Ultimately, if the dataset is too big, it could be split into smaller batches, but I don't know if that would

[2020-10-05 17:15] Jorge-Rodriguez commented on #43
@Andersson007 @anthonyxpalermo
OK, I took a quick cursory look at the code and it seems that we're not explicitly closing the connections. And while the GC should take care of those objects upon module completion, it's not the first time I've seen the server hanging on to stale connections in these kind of scenarios.
In the case of a large dataset like @anthonyxpalermo is describing, it stands to

[2020-10-05 17:28] Andersson007 commented on #43
@Jorge-Rodriguez ok, will wait the pr then (i think no changelog fragment needed while we don’t know if it helps or not, or maybe we can put an unrelated fragment, i.e. about refactoring)

[2020-10-05 17:47] anthonyxpalermo commented on #43
Jorge, I appreciate the input but I believe this is an issue with the code of the module and how it handles connections. scaling to bigger amount of request is just exposing the issue rendering it visible

[2020-10-05 17:49] anthonyxpalermo commented on #43
Thank you ! I will stand by so that we can review once the PR is completed. I would add that I tend to agree with what you are stating even because when using the modules connect_timeout, it still hangs and does not move forward.

[2020-10-06 06:54] Jorge-Rodriguez commented on #43
@anthonyxpalermo Check out #44. If you can apply those changes locally and tell us whether that helps with your issue it would be greatly appreciated.

[2020-10-06 10:25] Andersson007 commented on #43
@anthonyxpalermo also just read in the doc `For example, a task may take longer to complete than the SSH session allows for, causing a timeout.`.
Could you please check SSH related setting on your target machine?
https://www.tecmint.com/increase-ssh-connection-timeout/#:~:text=On%20the%20server%2C%20head%20over,%2Fssh%2Fsshd_config%20configuration%20file.&text=The%20ClientAliveInterval%20parameter

[2020-10-06 10:29] Andersson007 commented on #43
i'm not an expert in such things but https://docs.ansible.com/ansible/devel/user_guide/playbooks_async.html#run-tasks-concurrently-poll-0 might be also helpful.

[2020-10-06 10:58] Jorge-Rodriguez commented on #43
If I read @anthonyxpalermo logs correctly, his target is localhost, not sure if he's using the local connection too.

[2020-10-06 12:47] anthonyxpalermo commented on #43
I have tried with connection local on and off and same results

[2020-10-06 13:06] anthonyxpalermo commented on #43
Running playbook with community.mysql #44

[2020-10-06 13:25] Jorge-Rodriguez commented on #43
This really looks like a connection listener exhaustion issue. Awaiting news from the run with #44

[2020-10-06 13:27] anthonyxpalermo commented on #43
Sorry to say but even with #44 the issue persist

TASK [aws-acm : Insert {{hostname_item}} and {{ports_item}} Records to our DataBase] ******************************************************************************************

just waiting here
I will rerun in debug mode to provide where it stops

[2020-10-06 14:09] Jorge-Rodriguez commented on #43
Let me check whether the code is doing what is meant to be doing in the meanwhile

[2020-10-06 15:19] Jorge-Rodriguez commented on #43
@anthonyxpalermo I can't see anything obviously wrong with the code.
Can you connect to the database while it's running and post the output of
[code]

[2020-10-06 18:00] Jorge-Rodriguez commented on #43
@anthonyxpalermo one more question. You mentioned your database is in RDS, what are you using exactly, mysql, Mariadb or aurora with mysql compatibility?

[2020-10-06 18:10] anthonyxpalermo commented on #43
MariaDB

[2020-10-06 18:51] Jorge-Rodriguez commented on #43
@anthonyxpalermo one more thing that I don't understand. The task that you posted inserts one single row into the database. How exactly do you run through the 4000 entries that you mentioned?

[2020-10-07 00:52] anthonyxpalermo commented on #43
One at a time .
I get the info I need via a set_fact and that ends up in the query call I posted at beginning of the post.

[2020-10-07 05:55] Jorge-Rodriguez commented on #43
@anthonyxpalermo could you post the playbook, redacted as needed?

[2020-10-07 06:29] Jorge-Rodriguez commented on #43
On an additional note, you said you're using Ansible 2.10.1 which is not released yet. Any reasons you're using a development version?

[2020-10-07 07:12] Jorge-Rodriguez commented on #43
@anthonyxpalermo I'd be curious as to how exactly you're running this. I tried to replicate your setup and run the task in a 4000 iteration loop with async and at no point I had more than 10 active threads in RDS

[2020-10-07 14:32] anthonyxpalermo commented on #43
Hi Jorge, have not forgotten this just a busy deadline day !

[2020-10-07 14:34] anthonyxpalermo commented on #43
Althout there are 4000+ items , each index of the loop runs synchronously so for each item looped we first right to the db and then move to the. next. We dont collect all data and async write.

[2020-10-07 15:03] Jorge-Rodriguez commented on #43
So you're running a sequential loop on the 4000+ items.
That's essentially what I did myself and I can't reproduce.
I'd suggest you check your active threads in your Mariadb instance, the process list and the slow query log.
I would suspect a side interaction if there are other queries going on in the database.

With the current info I cannot pinpoint anything wrong with the module's code

[2020-10-07 15:31] anthonyxpalermo commented on #43
Jorge a couple of things
We don't believe this has anything to do with MariaDB and even if it did the module needs to still be able to cut out an reply or move on. That its not to say that the issue could be MariaDB but in any case the module has to be able to cut out when there is no replies from the DB
Agree ?

[2020-10-07 15:51] Jorge-Rodriguez commented on #43
@anthonyxpalermo I mostly agree with you, but not necessarily in all cases. If the module does send the query and it's stalled waiting for a response that never comes it's not quite up to the module to arbitrarily give up, although there could be a task timeout option.

Now you use the connect timeout option but that's not quite the same, I think we're looking at a scenario where the connection wo

[2020-10-08 12:50] Jorge-Rodriguez commented on #43
@Andersson007 can you reopen this? I would like to hear from @anthonyxpalermo first.

[2020-10-08 12:53] Andersson007 commented on #43
Oh, sorry, it was closed automatically by merging @Jorge-Rodriguez 's PR

[2020-10-08 16:06] anthonyxpalermo commented on #43
@Jorge-Rodriguez
In Ansible 2.10.x there is now the ability to add a timeout value to the task. It can be applied elsewhere but for us using in the task has helped us move the overall playbook without waiting for ever for that close response. In my opinion its a workaround to a function that module should handle on its own and it also forces other community members to rely on moving to Ansible 2.1

[2020-10-08 17:44] Jorge-Rodriguez commented on #43
@anthonyxpalermo the async and poll options have the same effect as the timeout option, this has been the way to deal with task timeouts up until ansible 2.10, so this issue is not forcing anybody to upgrade.

As I said before, we can't make the module arbitrarily give up because, while that would solve your problem, it will cause the converse problem for people using the module for long running q

[2020-10-09 16:35] 4n70w4 opened #45 "unable to connect to database, check login_user and login_password are correct"
##### SUMMARY
unable to connect to database, check login_user and login_password are correct or /root/.my.cnf has the credentials. Exception message: (2003, \"Can't connect to MySQL server on '127.0.0.1' ([Errno 111] Connection refused)\")

But all ok if I run on target host:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.mysql.mysql_db

##### ANSIBLE VERSION

[code]

#####

[2020-10-09 16:37] #45 closed

[2020-10-12 06:16] Andersson007 commented on #12
Hi folks, if bugfix PRs authors don't seem to be going to complete their stuff (e.g. to add changelog fragments or CI tests or whatever), i suggest completing such things ourselves not waiting the good whether from the see, say, 1-2 weeks of no feedback. Depends on a bug, of course - potential blockers should be fixed ASAP.

@Jorge-Rodriguez , if no feedback in 2-3 days https://github.com/ansible-

[2020-10-12 16:39] baldpale opened #46 "mysql_user doesn't work on 2.10 when using ~/.my.cnf with !includedir definition"
##### SUMMARY
Playbook fails when trying to set MariaDB password.
The output:
[code]

The issue disappears when removing the `!includedir` definition from .my.cnf on remote machine.
Also it does not reproduce on 2.9.0 and earlier.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.mysql.mysql_user

##### ANSIBLE VERSION
I tried Ansible from official Arch Linux repository (2.10.0-1) as

[2020-10-12 18:19] #28 closed

[2020-10-12 19:13] Jorge-Rodriguez commented on #46
This is really odd, since the error seems to stem from the database itself and not the module, and yet an ansible version change produces different results. I'll have a look, but first, @baldpale can you verify two things for me?
1. The version of the collection your using
2. Does this happen with other modules in the collection

Thanks for opening the bug report.

[2020-10-12 19:52] baldpale commented on #46
Sure.

1. Just today I installed the development version of Ansible in order to test that and I had to manually install the collection from Ansible Galaxy, so I belive I tested that with what's currently there. I'm not sure how to check that specifically.
2. I never saw this happening with other modules, but the playbook that deals with MySQL is rather simple. I don't see any other modules in usag

[2020-10-13 05:04] Jorge-Rodriguez commented on #46
Thank you for checking. Knowing that it affects other modules limits the scope of the codebase to be checked.
I won't be able to get to work on this until the weekend though.

[2020-10-13 06:09] Andersson007 commented on #46
@baldpale thanks for reporting this!
@Jorge-Rodriguez it was introduced by my patch, so i'll try to fix this ASAP

[2020-10-13 06:47] Andersson007 commented on #46
the fix https://github.com/ansible-collections/community.mysql/pull/47 done
@baldpale the PR contains CI tests but you can check this in you test environment if you wish.
1. you need to find `module_utils` directory and `mysql.py` there
2. change line `cp = configparser.ConfigParser()` to `cp = configparser.ConfigParser(comment_prefixes=('#', ';', '!'))`
3. run the module and check that everything

[2020-10-13 07:31] Andersson007 commented on #46
Stop! this looks like there's a connector problem. Hmm, i didn't find any related changes except mine that can be related. Should try again

[2020-10-13 07:50] Andersson007 commented on #46
Ok, it's related to config parser. CI tests behave strange. @baldpale please try suggested above

[2020-10-13 08:11] Andersson007 commented on #46
https://serverfault.com/questions/918530/mysql-includedir-not-working
[code]
@baldpale also make sense to get rid of dots

[2020-10-13 08:48] Andersson007 commented on #46
@baldpale waiting for your feedback

[2020-10-13 11:06] baldpale commented on #46
@Andersson007 I can confirm that it does the trick. I wasn't sure how to test it properly so I did as follows:

1. Installed latest version of Ansible from PIP
2. Installed the collection using ansible-galaxy
3. Run the playbook - didn't work with the same error
4. Cloned ansible-collections repository, fetched and checked out `refs/pull/47/head`
5. Copied the repository to `~/.ansible/collections

[2020-10-13 11:47] Andersson007 commented on #46
@baldpale thanks for the fast feedback!
Ok, when @Jorge-Rodriguez and i decide how to fix CI, we'll merge this and release

[2020-10-13 13:05] #46 closed

[2020-10-13 13:24] Andersson007 commented on #31
@rndmh3ro welcome!:)

[2020-10-13 13:24] Andersson007 commented on #31
I've just release 1.1.0

[2020-10-13 13:31] Andersson007 commented on #46
I've just released 1.1.0, its tarball is available on https://galaxy.ansible.com/community/mysql

[2020-10-17 06:14] Jorge-Rodriguez commented on #43
@Andersson007 since Ansible provides functionality for timeouts, I don't think it's this collections responsibility to replicate that. In my opinion this is not a bug and the issue can be closed.

[2020-10-17 07:37] Andersson007 commented on #43
@anthonyxpalermo @Jorge-Rodriguez thanks for the discussion! This definitely improved, at lease, my understanding how things work. Thanks!

[2020-10-17 07:37] #43 closed

[2020-10-17 07:40] Andersson007 commented on #43
@Jorge-Rodriguez imo, if ansible currently has timeout functionality, we shouldn't avoid extra options for modules if they don't bring any benefits.

[2020-10-17 08:29] Jorge-Rodriguez commented on #43
@Andersson007 it would be exposing the connector's option through the module, but functionally it would be the same as setting a task timeout.

[2020-10-19 05:21] Andersson007 commented on #27
added some changes to https://github.com/ansible-collections/community.mysql/wiki/Testing-your-changes

[2020-10-28 14:02] martinwalle opened #49 "Failed-Login Tracking and Temporary Account Locking"
##### SUMMARY

Implement the feature [Failed-Login Tracking and Temporary Account Locking](https://dev.mysql.com/doc/refman/8.0/en/password-management.html#failed-login-tracking)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

mysql_user module

##### ADDITIONAL INFORMATION

It will improve the security and avoid some kind of attacks.

[code]

[2020-10-28 14:08] Andersson007 commented on #49
@martinwalle hi, thanks for the idea! I'm not an expert but sounds good to me.
@Jorge-Rodriguez what do you think? would you like to implement this?

[2020-10-28 17:52] Jorge-Rodriguez commented on #49
@Andersson007 sure, I'll give this a go

[2020-10-28 19:34] Andersson007 commented on #49
@Jorge-Rodriguez and don't hesitate to put yourself to the authors lists in things you're improving;)

[2020-10-29 18:39] Markus- opened #50 "Create ROLES, assign them and SET default role"
##### SUMMARY
Implement ROLE feature which is part of MySQL 8 / MariaDB 10
https://mariadb.com/kb/en/roles_overview/
https://dev.mysql.com/doc/refman/8.0/en/create-role.html
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mysql_user

##### ADDITIONAL INFORMATION
I didn't find any way to create a ROLE (collection of GRANTS) which can be assigned to a USER.
Those ROLES doesn't have a host and

[2020-10-30 10:27] Andersson007 commented on #50
@Markus- hi, thanks for the feature idea!
I'm not a mysql user, so i've no idea if it is useful or not but sounds like a missed thing.
While it's not implemented, you can use `mysql_query` module (that's more convenient than using `shell`).
If anybody decides to create this, please put a comment here first.

[2020-11-01 14:27] Davidffry opened #51 "Mysql-Query"
##### SUMMARY

Cannot select more than 1 parameters in the Select statement
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Mysql-query
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

mysql  Ver 15.1 Distrib 5.5.65-MariaDB, for Linux (x86_64) using readline 5.1

##### STEPS TO REPRODUCE

just launch this task

[code]

##### EXPECTED RESULTS

    "query_resu

[2020-11-01 16:37] Andersson007 commented on #51
@Davidffry hi, thanks for reporting the issue! will look at this ASAP

[2020-11-01 16:42] Davidffry commented on #51
Tips, it maybe come from the ansible module param query which do repr() so i tried somethings but i did not success

[2020-11-01 16:46] Andersson007 commented on #51
@Davidffry @Jorge-Rodriguez after a quick look i figured out that:
[code]
should work. Because the type of `query` is a list with string elements. If a single-raw query contains dots, Ansible thinks this is a string. Maybe we could just change the documents?
I can later try to change the parameter's type to `raw` but not sure this is a good idea

[2020-11-01 16:48] Andersson007 commented on #51
the prev comment has just been changed, sorry, i'm not a native speaker and when i'm in rush my comments turn out to be a complete mess:)

[2020-11-01 16:56] Davidffry commented on #51
alright! it's work, I close the issue

[2020-11-01 16:59] Andersson007 commented on #51
@Davidffry i definitely should try to experiment with `raw` type;) At least i must change the documentation, i reopened the issue as a reminder:)

[2020-11-01 18:24] Andersson007 commented on #51
https://github.com/ansible-collections/community.mysql/pull/53

[2020-11-03 12:04] #51 closed

[2020-11-03 12:10] Andersson007 commented on #31
I'd like to release 1.1.1 today's evening
@Jorge-Rodriguez do you have anything to include that you almost finish but that's not yet published? We could postpone this for a couple of days.

[2020-11-03 14:56] Zverik opened #54 "Executing an sql script file"
##### SUMMARY

I would like a module that takes an sql file (either local or remote, but can also be just remote) and does `mysql < file.sql`.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

mysql_execute, or an option for mysql_query

##### ADDITIONAL INFORMATION

Sometimes an application does not have its installer that initializes a database, but requires to run some SQL file that crea

[2020-11-03 15:41] Andersson007 commented on #54
@Zverik hi, thanks for the issue!
@bmalynovytch as far as i remember we discussed this when developing the module. Don't you change your mind about adding `path_to_script` option:)?

[2020-11-03 16:30] Zverik commented on #54
I've noticed `mysql_db` has this feature (using `state: import` and `target: /path/to/script.sql`), but it isn't obvious. Sometime one would want to run e.g. maintenance scripts.

[2020-11-03 18:25] Andersson007 commented on #54
@Zverik one issue which will probably appear is the anybody once will try to restore a dump via `path_to_script` and will report about bugs;) That happened to `postgresql_query`. Yes, we can add a note about this as did with `postgresql_query` but anyway. I'd like to here more opinions.
We could:
1. add `path_to_script` or
2. add a note to `mysql_query`'s header about possibility to run scripts vi

[2020-11-03 18:51] Andersson007 commented on #31
I've just release 1.1.1

[2020-11-03 19:00] Andersson007 commented on #51
@Davidffry i've just released community.mysql 1.1.1 that contains the change.
The tarball is already in [galaxy](https://galaxy.ansible.com/community/mysql),
so you can download and install it [manually](https://docs.ansible.com/ansible/latest/user_guide/collections_using.html#installing-collections-with-ansible-galaxy) from there (alternatively you can wait until next Ansible fix release but the

[2020-11-03 22:12] Davidffry commented on #51
Works for the two:
[code]

or

[code]

I know it can be optimized ;)

[2020-11-04 08:04] Andersson007 commented on #51
@Davidffry cool, thanks for the feedback!:)

[2020-11-04 12:59] Zverik commented on #54
So yeah, I've read these issues, and I see there might be some ambiguity. I'd choose 2 since that's less work, and most of the scripts worth running create tables anyway :)

[2020-11-05 06:31] Andersson007 commented on #54
@Zverik , agreed, https://github.com/ansible-collections/community.mysql/pull/55

[2020-11-05 08:27] Zverik commented on #54
Thanks!

[2020-11-05 10:29] #54 closed

[2020-11-05 11:16] imjoseangel opened #56 "Add mysqlclient as additional library supported in documentation"
##### SUMMARY

All the modules specify `PyMySQL` or `MySQLdb` options but to manage a multiplatform (Linux and Mac) environment, the best working option is `mysqlclient`. Recommended to add it as an option.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

`mysql_db`
`mysql_info`
`mysql_query`
`mysql_replication`
`mysql_user`
`mysql_variables`

##### ANSIBLE VERSION

[code]

[2020-11-05 11:39] Andersson007 commented on #56
@imjoseangel hi, thanks for reporting this!
Could you please explain what do you mean (better with exaples)?

[2020-11-05 11:44] imjoseangel commented on #56
Thanks @Andersson007

For Mac and Linux: When using `PyMySQL`:

[code]

When using `mysqlclient`:

[code]

What I mean is that adding `mysqlclient` as the third option in the documentation is a good thing and it works.

What do you think?

[2020-11-05 11:54] Andersson007 commented on #56
@imjoseangel do you mean adding https://pypi.org/project/mysqlclient/ as the third connector or this can be used instead of MySQLdb transparantly and we just need to add a note to the documentation that people can install and use it instead?
i'm asking because i don't use it.
Thanks!

[2020-11-05 12:04] imjoseangel commented on #56
@Andersson007 I was thinking on adding as the third connector but currently is the best option also for Python2. Thinking in your question I would change `MySQLdb` by  `mysqlclient` and keep this last one as the option compatible with Python2 (Tested) and Python3.

What do you think?

[2020-11-05 12:08] Andersson007 commented on #56
@imjoseangel if we replace it, won't this break systems where users have only MySQdb installed?

[2020-11-05 12:14] Andersson007 commented on #56
https://pypi.org/project/mysqlclient/ refers to MySQLdb documentation as i can see. Do we need to change the source code or we can just add a not that people can install `mysqlclient` instead of `mysqldb` to work with Python3 as well as with Python2 ?

[2020-11-05 12:16] imjoseangel commented on #56
Is just a change in the documentation, we don't need to change the source to work with the three libraries.

[2020-11-05 12:19] Andersson007 commented on #56
@imjoseangel that's ok:) i could add the note tomorrow (or maybe you want to do it yourself?)

[2020-11-05 12:26] imjoseangel commented on #56
@Andersson007 Is it [here](https://github.com/ansible-collections/community.mysql/issues/12) isn't it? Could you send me the meeting details? Thank you!

[2020-11-05 12:41] Andersson007 commented on #56
@imjoseangel i'm afraid we don't have regular meetings here:)
There are maybe 2 active maintainers (including me).
If you want to discuss this topic, all people interested in supporing this repo are currently subscribed to it

[2020-11-05 12:44] imjoseangel commented on #56
Could you please specify what do you mean with adding the note? Do you mean create a PR for the documentation? If so, let me do this afternoon.

Thank you!

[2020-11-05 12:57] Andersson007 commented on #56
@imjoseangel ok, thanks! i'd suggest adding something like this
[code]
to `note:` section of `plugins/doc_fragments/mysql.py` right after existing
[code]
just a suggestion, hope it'll help

[2020-11-06 13:12] securitym0nkey opened #59 "mysql_replication: make MASTER_SSL_VERIFY_SERVER_CERT available"
##### SUMMARY
The _mysql_replication_ module should support setting **MASTER_SSL_VERIFY_SERVER_CERT**.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mysql_replication (changemaster)

##### ADDITIONAL INFORMATION
In an environment with a central CA as a trust anchor it certainly makes sense to verify the servers certificate. Otherwise a single compromised certificate+key would enable a Mit

[2020-11-06 18:14] #56 closed

[2020-11-07 11:30] Jorge-Rodriguez commented on #59
@securitym0nkey couldn't agree more.
Could you link the documentation for this feature?

@Andersson007 I can take this one

[2020-11-07 11:34] Jorge-Rodriguez commented on #50
This looks like it would require both a new module and an overhaul of the user module.
I could give this a go if nobody takes it earlier, but I have another two feature requests on my backlog that are lower hanging fruit so I'm unlikely to take on this very soon

[2020-11-07 11:49] securitym0nkey commented on #59
@Jorge-Rodriguez

Sure, documentation is found here:

- https://mariadb.com/kb/en/change-master-to/#master_ssl_verify_server_cert
- https://dev.mysql.com/doc/refman/8.0/en/replication-solutions-encrypted-connections.html
- https://dev.mysql.com/doc/refman/8.0/en/change-master-to.html

Is that what you need?

[2020-11-07 11:52] Andersson007 commented on #59
@Jorge-Rodriguez cool! Thank you folks

[2020-11-07 12:00] Andersson007 commented on #50
@Jorge-Rodriguez yes, looks like that.
To implement such a module promises to be a great challenge.
We could use the basic approaches from `mysql_user` module, i.e. to use a similar interface relatively to privs, etc.
Once you're ready, feel free to put your thoughts here / in a WIP PR to discuss. In case you're feel you're not going to writhe the module, also, please, put a comment here.

[2020-11-09 07:21] Andersson007 commented on #27
closed via https://github.com/ansible-collections/community.mysql/wiki/Testing-your-changes

[2020-11-09 07:21] #27 closed

[2020-11-13 09:11] SWADESNA opened #60 "RFE:Develop mssql database module which can query read/write/stored procedures to & from database"
##### SUMMARY

Currently there is only one module available for mssql mssql_db.
**mssql_db – Add or remove MSSQL databases from a remote**

There is a requirement to develop mssql database module which can query read/write/stored procedures to & from database
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- Mssql Database Modules
##### ADDITIONAL INFORMATION

[code]

[2020-11-13 09:39] SWADESNA commented on #60
Closing the issue, as it is related to mssql database and not mysql database.

[2020-11-13 09:39] #60 closed

[2020-11-15 09:33] Jorge-Rodriguez commented on #49
**Note:** this is supported only by MySQL >= 8.0.19
MariaDB does **not** support this feature.

MariaDB can offer similar functionality via the `max_password_errors` server variable. This collection's variables module should be used to this end.

[2020-11-16 08:24] Andersson007 commented on #49
we should add a check then. There is already a function for that in the module, as far as i remember. And we should add a note about that to the doc as well

[2020-12-01 20:16] JoelFeiner opened #68 "mysql_db import/dump always use default port, regardless of config file"
##### SUMMARY
If MySQL is running on a port other than 3306, even if you have the alternate port in `~/.my.cnf`, it is still required to provide `login_port` to `mysql_db` when dumping/importing or it can't connect.

It looks like the problem is here: https://github.com/ansible-collections/community.mysql/blob/main/plugins/modules/mysql_db.py#L468

It always adds the port to the command line and u

[2020-12-02 05:25] Andersson007 commented on #68
@JoelFeiner hi, thanks for reporting this!
`ansible 2.7.18` is out of support
could you please:
1) try to run this with Ansible 2.10
2) if the same, please run the playbook with `-vvv` and put the output starting from traceback (including it) and all below
Thanks!

[2020-12-06 13:38] steveteahan opened #69 "append_privs attempts to change privileges when it doesn't need to"
##### SUMMARY
append_privs usage will result in detecting a change to permissions even when the set of current privileges is a superset of new privileges.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
This doesn't seem to be specific to the environment in any way.

##### STEPS TO REPRODUCE
1. `dock

[2020-12-07 21:27] klingac opened #70 "mysql_replication: terminology updates, "SLAVE" is deprecated"
##### SUMMARY

Since [terminology updates](https://mysqlhighavailability.com/mysql-terminology-updates/) in MySQL(from version 8) and MariaDB(from version 10.5.1) expresions, that contain "SLAVE" are deprecated.
E.g. `SHOW SLAVE STATUS` is changing to `SHOW REPLICA STATUS`.

If we use PyMysql on the server side (only option for non-deprecated `pyhton3`), we get this error
[code]
This makes us unab

[2020-12-08 05:44] Andersson007 commented on #69
@steveteahan thanks for reporting the issue!
@Jmainguy @bmalynovytch @tomaszkiewicz dear authors could you please specify what is the desired behavior?
Waiting for your feedback. Thanks!

[2020-12-08 05:46] Andersson007 commented on #70
@klingac thanks for reporting the issue!
I hope the community will fix this soon. Would be happy to provide a review

[2020-12-08 06:00] Andersson007 commented on #70
cc @banyek

[2020-12-08 09:49] Andersson007 commented on #70
cc Alexander198961 michaelcoburn oneiroi tolland Xyon kurtdavis

[2020-12-08 09:50] Andersson007 commented on #69
cc @Alexander198961 @michaelcoburn @oneiroi @tolland @Xyon @kurtdavis

[2020-12-08 09:51] Andersson007 commented on #70
cc @Alexander198961 @michaelcoburn @oneiroi @tolland @Xyon @kurtdavis

[2020-12-10 11:26] Andersson007 commented on #70
I created a PR https://github.com/ansible-collections/community.mysql/pull/71
Despite having the integration and unit tests, @klingac would be great if you (or anybody else) try this in your test environment with 8.0.21 (or earlier) and 8.0.22 and confirm that this solves. The changes are significant, so would be safer to test it manually before merging (i don't have infrastructure for that)

[2020-12-12 20:41] steveteahan commented on #69
I went ahead and created a PR that will hopefully further clarify the behavior that I was expecting.  The new test was failing before my change (as expected) and I verified that the integration/sanity tests are now passing with my proposed change.

[2020-12-13 11:27] ajcanlas-tip opened #73 "Packet sequence number wrong - got 1 expected 0"
##### SUMMARY
failed: [192.168.100.200] (item=127.0.0.1) => {"ansible_loop_var": "item", "changed": false, "item": "127.0.0.1", "msg": "unable to connect to database, check login_user and login_password are correct or /root/.my.cnf has the credentials. Exception message: Packet sequence number wrong - got 1 expected 0"}

Error in running mysql_user to change root password
##### ISSUE TYPE
- Bug Re

[2020-12-14 06:35] Andersson007 commented on #69
left a note there, thanks

[2020-12-14 06:50] Andersson007 commented on #73
@ajcanlas-tip hi, thanks for reporting this.

    packet = self._read_packet()
  File "/usr/lib/python3/dist-packages/pymysql/connections.py", line 669, in _read_packet
    raise err.InternalError(

Looks like it's not a problem of the module itself but rather as a problem of something behind, e.g. the connector, etc. People get the same error using pymysql (in cases not related to Ansible) and se

[2020-12-15 04:50] ajcanlas-tip commented on #73
HI @Andersson007 ,

Not sure if this helps it says https://github.com/PyMySQL/PyMySQL/issues/422 here that multi-threaded is not supported thus we might redo the whole thing.

Regards

[2020-12-16 05:22] #69 closed

[2020-12-18 05:49] madalinignisca commented on #33
Hi. I am on 11.1 and this warning still shows up.

STEPS TO REPRODUCE
[code]

[2020-12-18 06:54] Andersson007 commented on #33
@madalinignisca hi, looks like my fix was accidentally reverted by https://github.com/ansible-collections/community.mysql/pull/38.
Thanks for reporting this! I'll create a PR

[2020-12-18 07:00] Andersson007 commented on #33
Done, I'll merge https://github.com/ansible-collections/community.mysql/pull/74 after CI passed and will release the collection after https://github.com/ansible-collections/community.mysql/pull/71 merged (needs review).

[2020-12-18 08:17] #70 closed

[2020-12-18 08:18] Andersson007 commented on #70
Closed via https://github.com/ansible-collections/community.mysql/pull/71 (merged).

[2020-12-18 08:33] Andersson007 commented on #31
I've just released 1.1.2

[2020-12-18 09:26] Andersson007 commented on #70
@klingac thanks for reporting the issue!

I've just released community.mysql 1.1.2 containing the fix which tarbal is available [here](https://galaxy.ansible.com/community/mysql) to download and use. The changes will also appear in the Ansible package patch release. How to install in manually, refer to [this document](https://docs.ansible.com/ansible/devel/user_guide/collections_using.html)

If yo

[2020-12-18 09:29] Andersson007 commented on #69
@steveteahan thanks for fixing this again!

I've just released community.mysql 1.1.2 containing the fix which tarbal is available [here](https://galaxy.ansible.com/community/mysql) to download and use. The changes will also appear in the next Ansible package patch release. How to install in manually, refer to [this document](https://docs.ansible.com/ansible/devel/user_guide/collections_using.html)

[2020-12-18 09:31] Andersson007 commented on #33
I've just released community.mysql 1.1.2 containing the fix which tarbal is available [here](https://galaxy.ansible.com/community/mysql) to download and use. The changes will also appear in the next Ansible package patch release. How to install in manually, refer to [this document](https://docs.ansible.com/ansible/devel/user_guide/collections_using.html).

Thanks everyone!

[2020-12-18 09:38] Andersson007 commented on #68
closed because no feedback
@JoelFeiner if something changes, please let me know, thanks!

[2020-12-18 09:38] #68 closed

[2020-12-20 19:31] steveteahan opened #75 "mysql_user: Adding statements output"
##### SUMMARY
Adding a statements list to the output of mysql_user could make the module more transparent and easier to debug.  Ideally, users would be able to run in check mode and see exactly which statements would be executed to get to the desired state.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mysql_user

##### ADDITIONAL INFORMATION
The mysql_user module currently returns **chan

[2020-12-21 06:50] Andersson007 commented on #75
@steveteahan thanks for the feature idea!
I'd suggest to name it **queries** because now it's implemented in `mysql_variables` module.
As far as i remember, we can use `cursor.mogrify()` to get final statements without real execution.

I took a quick look at the pre-pr.
Are `tls` related changes really necessary there?
If not, better to put them in a separate PR and merge before of after the PR ab

[2020-12-21 11:11] steveteahan commented on #75
Thank you, @Andersson007.  To respond to your feedback:

- **queries** works for me
- Agreed on `cursor.mogrify()`, that's what I ended up using only wrapping it in a method to avoid `mogrify()` and `append()` calls everywhere
- I'm happy to handle some of the refactoring in separate PRs to keep this change as straight-forward as possible

I'll finish up my changes, get the docs and tests in order

[2020-12-21 11:29] Andersson007 commented on #75
@steveteahan cool, thanks:) Don't forget about a [changelog fragment](https://docs.ansible.com/ansible/devel/community/development_process.html#changelogs-how-to) (`minor_changes:`) and integration tests

[2020-12-27 15:09] klingac commented on #70
@Andersson007 thank you very much for your work here.
I just tested this on my environment and everything seems to be OK. I have two points to this:

1. Will be this changes backported even to ansible 2.9 or older?
2. May I suggest to make these changes to be "more complete"? I mean could we unify `mysql_replication` module's params with [terminology updates](https://mysqlhighavailability.com/mysq

[2020-12-28 00:22] steveteahan opened #77 "mysql_user: Granting all privileges at a global level always results in a change in MySQL 8.0"
##### SUMMARY
Granting ALL PRIVILEGES at a global level will always result in a change being detected.  I came across this issue when trying to re-enable the `user_password_update_test.yml` test for another change.  This appears to be linked to the following change in MySQL 8.0:

(https://dev.mysql.com/doc/refman/8.0/en/show-grants.html)

So, because the expanded list of all privileges doesn't mat

[2020-12-28 05:48] Andersson007 commented on #70
@klingac thanks for the feedback!

1. It can technically be backported to 2.9 (to earlier versions only security fixes are allowed) but i wouldn't do it because it's not so flexible as it is with collections. Moreover 2.9 supports collections and users can install the fixed version of `community.mysql` and use.
2. I also thought of adding the aliases, thanks for reminding, will see. If you like to

[2020-12-28 05:54] Andersson007 opened #78 "mysql_replication: add aliases according to new terminology"
##### SUMMARY
As suggested in [here](https://github.com/ansible-collections/community.mysql/issues/70#issuecomment-751478376)
`mysql_replication` module options containing words like `master` and `slave`, e.g. `stopslave`, should be renamed correspondingly, e.g. to `stopreplica`, etc.

The current option names should stay there as aliases.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`my

[2020-12-28 05:54] Andersson007 commented on #70
Not to forget, I created the [issue](https://github.com/ansible-collections/community.mysql/issues/78)

[2020-12-28 07:36] Andersson007 commented on #77
This is not my area too. I'm against hard-coding (who will maintain this?),
so IMO better just to describe this nuance in the option description, it could be something very roughly like "when granting all privileges via C(*.*:ALL), the module always reports that the state has been changed."

[2021-01-01 04:58] Akasurde opened #80 "Do not run CHANGE MASTER query on a running MySQL slave"
_From @Andersson007 on Jun 05, 2020 07:36_

_Copied from https://github.com/ansible/ansible/issues/53943_
_Initially reported by @rthouvenin_

##### SUMMARY
This is mostly a feature request, but also partly a bug report. When running the `mysql_replication` module with `mode=changemaster` while the slave is already running on the MySQL server, the task fails with error message "error totally whack

[2021-01-01 04:58] Akasurde commented on #80
_From @ansibullbot on Jun 05, 2020 07:38_

Files identified in the description:
* [`plugins/modules/database/mysql/mysql_replication.py`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/database/mysql/mysql_replication.py)

If these files are inaccurate, please update the `component name` section of the description or use the `!component` bot command.

[click h

[2021-01-01 04:58] Akasurde commented on #80
_From @ansibullbot on Jun 05, 2020 07:38_

cc @Alexander198961 @Xyon @banyek @bmalynovytch @bmildren @kurtdavis @michaelcoburn @oneiroi @tolland
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2021-01-01 04:59] Akasurde opened #81 "When mysql_db fails to decompress a file for an import, it returns an empty byte string for an error."
_From @Andersson007 on Jun 05, 2020 08:08_

_Copied from https://github.com/ansible/ansible/issues/41505_
_Initially reported by @Everspace_

##### SUMMARY

When mysql_db fails to decompress a file for an import, it returns an empty byte string for an error.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mysql_db

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REP

[2021-01-01 04:59] Akasurde commented on #81
_From @ansibullbot on Jun 05, 2020 08:11_

Files identified in the description:
* [`plugins/modules/database/mysql/mysql_db.py`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/database/mysql/mysql_db.py)

If these files are inaccurate, please update the `component name` section of the description or use the `!component` bot command.

[click here for bot help](

[2021-01-01 04:59] Akasurde commented on #81
_From @ansibullbot on Jun 05, 2020 08:11_

cc @Alexander198961 @Xyon @bmalynovytch @bmildren @kurtdavis @michaelcoburn @oneiroi @tolland
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2021-01-01 04:59] Akasurde opened #82 "Add support for auth_socket identification to the mysql_user module"
_From @Andersson007 on Jun 05, 2020 08:13_

_Copied from https://github.com/ansible/ansible/issues/40988_
_Initially reported by @organman91_

##### SUMMARY

When using the mysql_user module, users must be identified by a password, a hash password, or not at all. Add support for creating a user identified by auth_socket.
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

mysql_user
##### ANSI

[2021-01-01 04:59] Akasurde commented on #82
_From @ansibullbot on Jun 05, 2020 08:17_

Files identified in the description:
* [`plugins/modules/database/mysql/mysql_user.py`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/database/mysql/mysql_user.py)

If these files are inaccurate, please update the `component name` section of the description or use the `!component` bot command.

[click here for bot he

[2021-01-01 04:59] Akasurde commented on #82
_From @ansibullbot on Jun 05, 2020 08:17_

cc @Alexander198961 @Jmainguy @Xyon @bmalynovytch @bmildren @kurtdavis @michaelcoburn @oneiroi @tolland
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2021-01-01 05:00] Akasurde opened #83 "Can not set mysql user password: "The PyMySQL (Python 2.7 and Python 3.X) or MySQL-python (Python 2.X) module is required."}"
_From @Akasurde on Jul 20, 2020 05:33_

_From @riupie on Jul 20, 2020 05:31_

##### SUMMARY
I have a task to create user and set update password on create. From this task, I just want to update my password once. So, if I run my task again i will not update my password again. My task run well in first run/execution. But when I run again my task I get this error:
[code]
Then I install `pymysql` via

[2021-01-01 05:00] Akasurde commented on #83
_From @ansibullbot on Jul 20, 2020 05:35_

Files identified in the description:
None

If these files are inaccurate, please update the `component name` section of the description or use the `!component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2021-01-01 05:00] Akasurde commented on #83
_From @felixfontein on Jul 20, 2020 07:58_

@Akasurde the mysql modules are now in [community.mysql](https://github.com/ansible-collections/community.mysql/).

[2021-01-11 17:01] SturmB opened #85 "No way to connect via TCP?"
##### SUMMARY

I receive an error message when using the `mysql_db` module to connect to a MySQL Docker container.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mysql_db

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host:
Windows 10 v2004 with WSL2 running Ubuntu 20.04
Target:
Ubuntu 18.04

##### STEPS TO REPRODUCE

1. Ensure that a MySQL Docker conta

[2021-01-11 19:57] SturmB commented on #85
## Follow-Up

I've discovered the issue and it seems to be built-in to MySQL itself. It all depends on how you reference localhost with the `login_host` parameter.

* If you set it to `localhost`, `mysql_db` uses a unix socket by default.
* If you set it to `127.0.0.1`, however, then `mysql_db` will use TCP.

This isn't a fault of `mysql_db`, as the `msql` CLI client does the same thing. Of course

[2021-01-11 20:55] skoriy88 opened #86 "SHOW_ROUTINE privilage is not in frozenset"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mysql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

NAME="Ubuntu"
VERSION="18.04.2 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.2 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.laun

[2021-01-12 06:59] Andersson007 commented on #86
@skoriy88 thanks for reporting this! https://github.com/ansible-collections/community.mysql/pull/87

[2021-01-12 07:06] Andersson007 commented on #85
@SturmB thanks for reporting this and for the investigation!
For folks who want to implement this, before going ahead, please mention your intention here to avoid parallel work. Thanks!

[2021-01-13 06:36] #86 closed

[2021-01-13 06:38] Andersson007 commented on #86
@skoriy88 i'll merge the PR, thanks. I'll put a comment here when i release the next version of the collection

[2021-01-13 09:44] AshDevilRed opened #88 "mysql_replication (Warning with "mode: getslave" that ansible translates as an error)"
##### SUMMARY
I want to get the slave status with mysql_replication module. (mode: getslave)
I'm on CentOS8, and it sends me back an error. (Warning > Error)
Because the "show slave status" command is deprecated. (Warning)
And Ansible seeing the warning gives me an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module : mysql_replication

##### ANSIBLE VERSION
[code]

##### CONFIGURAT

[2021-01-13 11:18] Andersson007 commented on #88
@AshDevilRed thanks for reporting this
It's been already fixed in https://github.com/ansible-collections/community.mysql/pull/71
The collection tarbal containing the fix is available [here](https://galaxy.ansible.com/community/mysql).

Alternatively, the collection is shipped with Ansible 2.10.

If you don't like to upgrade, 2.9 supports collections as well. Please download the tarbal and install

[2021-01-14 03:08] kkeane opened #89 "mysql_user idempotency issue with REQUIRESSL and ALL privileges"
##### SUMMARY
There is an idempotency mismatch for certain privilege specifications. This probably happens because the names of certain privileges do not exactly match the names used by the database. See Ansible bug #29625 (which is not actually resolved for these cases).

Specific examples I found (for MariaDB 10.5)

    Specify privileges as "db.*:ALL,REQUIRESSL"
    Specify privileges as "db.*:

[2021-01-14 10:30] loomsen opened #90 "SSL Connection to Azure Mysql DB doesn't work"
##### SUMMARY

When trying to connect to an Azure Mysql Server instance, the SSL option doesn't work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`mysql_user`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target: `Azure Database for MySQL server`
Version: 5.7

Default settings have `Enforce SSL Connection` checked.
![Selection_641](https://user-imag

[2021-01-14 12:18] steveteahan opened #91 "Supported database versions and integration testing"
##### SUMMARY
I'm creating this issue hoping to start a discussion about which database server/versions that this collection supports and how that affects integration testing.  Based on the code, it seems that the intent is to support MySQL <5.7, MySQL 5.7, MySQL 8.0, and MariaDB.  The integration tests only execute on MySQL 5.7 and 8.0, however, which limits the guarantees of compatibility for al

[2021-01-15 10:58] Andersson007 commented on #89
@kkeane thanks for reporting this!
Could you please try this using Ansible 2.10.5?

There was significant work done related to SSL during the recent months by @Jorge-Rodriguez.

**Alternatively, 2.9 supports collections.** You can get the latest collection tarbal from [Galaxy](https://galaxy.ansible.com/community/mysql). How to install and use it, see this (official) [guide](https://docs.ansible.c

[2021-01-15 11:03] Andersson007 commented on #90
@loomsen hi, thanks for reporting the issue!
@Jorge-Rodriguez could you please take a look?

[2021-01-15 11:10] Andersson007 commented on #90
@loomsen , I looked at the module's [documentation](https://docs.ansible.com/ansible/latest/collections/community/mysql/mysql_user_module.html) looks like the `tls_require` option relates to user's permission, not to connection which run your playbook.
Have you tried the `ca_cert`, `client_key`, `client_cert` options?

@Jorge-Rodriguez what do you think?

[2021-01-15 11:57] loomsen commented on #90
@Andersson007 Thank you for looking into this.

I haven't tried the `ca_cert`, `client_key` and `client_cert` options, because I literally don't have any of these files. The only thing I add to my command line `mysql` invocation is `--ssl` and it works. So I assume this involves a server cert only, just like connecting to a website over https instead of http. Just guessing here though, not exactly

[2021-01-17 07:53] Jorge-Rodriguez commented on #90
@Andersson007 you're right, the `tls_requirements` parameter does not pertain to user connection.
I'd have to look at the code to see how we implement the TLS option passing on connection and what options to use in this case.

I'll get back to you @loomsen

[2021-01-17 08:01] Jorge-Rodriguez commented on #91
@steveteahan I very much she with you, and it's true that we're not testing against MariaDB and we should.
The reason for this is that, AFAIK we do not have a MariaDB container setup to test against. Currently the tests run against a Percona cluster.

If someone could put the work into setting up such a container (I believe there work would go into the setup.yml file of the integration tests) we c

[2021-01-17 09:50] loomsen commented on #90
Hi @Jorge-Rodriguez @Andersson007,

looking into the code made me somewhat figure out, that `check_hostname` is the actual parameter to use for SSL connections.
With `check_hostname: yes` it works. Maybe we could add this to the docs somehow or even consider renaming the `check_hostname` option?

I think this issue could be closed technically, but I would really suggest updating the docs. WDYT?

[2021-01-17 11:48] steveteahan commented on #91
Thank you for the information, @Jorge-Rodriguez.  I don't have a vested interest in MariaDB support, but some of the changes that I'm making inevitably hit a MariaDB conditional which then affects the coverage of the patch.  I do have an interest in making sure that my changes don't break any MariaDB users if the intent is to continue to support that database.

Any thoughts on publishing a list of

[2021-01-18 06:46] Andersson007 commented on #90
Hi everyone,
@loomsen thanks for the clue!
After @Jorge-Rodriguez looks at the code and confirms, IMO, it's definitely worth adding clarification to the option's doc and maybe adding an alias (the renaming would break backwards compatibility).
If anyone wants to do it, please go ahead, I'd be happy to review.

[2021-01-18 06:47] Andersson007 commented on #86
FYI: `community.mysql` collection 1.2.0 has just been released.
The tarbal is available on [Galaxy](https://galaxy.ansible.com/community/mysql).
How to install it, see the [official guide](https://docs.ansible.com/ansible/latest/user_guide/collections_using.html).
The changes will also be included in the next Ansible release.

[2021-01-18 06:48] Andersson007 commented on #31
`community.mysql` collection 1.2.0 has just been released.
The tarbal is available on [Galaxy](https://galaxy.ansible.com/community/mysql).
How to install it, see the [official guide](https://docs.ansible.com/ansible/latest/user_guide/collections_using.html).
The changes will also be included in the next Ansible release.

[2021-01-18 12:43] steveteahan commented on #91
Enabling integration tests for MariaDB looks like it will be a bit more of a time investment than I can make at the moment.  There were some initial hurdles to being able to enable the tests:

- MariaDB 10.2 and 10.5 don't enable ssl by default, so there is some extra work to generate certificates
- `openssl s_client` doesn't appear to return the full certificate chain for the self-signed configur

[2021-01-20 13:04] steveteahan commented on #91
For completeness, I quickly checked to see if enabling integration tests for MySQL 5.6 would be trivial.  I quickly hit a number of issues just in the `mysql_user` module:

- MySQL 5.6 doesn't enable SSL by default (like MariaDB, so can reuse some of the changes there)
- SQL queries being tested in `resource_limits.yml` aren't supported
- Passwords >16 characters aren't supported

Given this initi

[2021-01-21 07:13] Andersson007 commented on #91
@Jorge-Rodriguez @bmalynovytch what do you think about dropping support for 5.6?
If we decide that, I'll announce this fact somehow.

[2021-01-21 07:40] bmalynovytch commented on #91
Hello there !

Thank you for your time dudes.
This thread is the Pandora Box I never wanted to open while still knowing we should have way earlier.
I struggled with the same problems of compatibility years ago.

While I think we should restrict supported environments to limit complexity of code and tests, we can't, suddenly, drop features IMOH.
I checked about MySQL 5.6 EOL (which I wasn't aware o

[2021-01-21 12:00] steveteahan commented on #91
Thank you for the additional background information, @bmalynovytch.  I didn't know that Percona was extending the support for 5.6.  I wasn't necessarily suggesting just dropping support 5.6 immediately (although it may have sounded that way), but there would need to be some documented procedure for doing so?  I could see that documented procedure covering the fact that Percona provides extended su

[2021-01-21 15:30] bmalynovytch commented on #91
Not a problem, we absolutely need to stop doing just like if everything was fine, it's not the case.
We're having a hard time maintaining those modules because of the legacy 🙂

I'm not sure splitting the modules would be the best, because MySQL and MariaDB still share a lot of common bits and have a general interoperability. I guess users would expect that `mysql` and `mariadb` to be equivalent.

[2021-01-31 07:25] Jorge-Rodriguez commented on #91
@bmalynovytch @Andersson007 do you think it would make sense to make the split suggested by @steveteahan transparent within the collection? We could refactor to have two separate codebases and determine early in the module execution what server we're targeting, thus selecting an early execution branch for MySQL or MariaDB.
This would keep the codebase free of endless conditionals while retaining t

[2021-01-31 07:29] Jorge-Rodriguez commented on #90
@loomsen I'd welcome your suggestions for the parameter name. As someone who found `check_hostname` misleading, you're in a better position to tell us what kind of alternative names would make sense.

[2021-01-31 07:38] Jorge-Rodriguez commented on #89
@kkeane the `REQUIRESSL` privilege is kept for backwards compatibility only and is bound to have certain minor bugs. The `tls_requires` parameter should be used instead.

Waiting for your feedback.

[2021-01-31 07:41] Jorge-Rodriguez commented on #89
@Andersson007 we've seen other bugs related to three `REQUIRESSL` privilege. I'm wondering if we shouldn't handle that syntax as an alias for the `tls_requires` parameter and get rid of the legacy code and the problematic conditional branches.

[2021-01-31 07:52] bmalynovytch commented on #91
It’s probably a good idea. The main inconvenient I see is the risk of code duplication within the different parts servings equivalent functions.

[2021-01-31 08:00] loomsen commented on #90
Hi @Jorge-Rodriguez,

The current docs for `check_hostname` read:_Whether to validate the server host name when an SSL connection is required._

This is misleading in a way, that it kind of implies there would be another option to actually initiate the SSL connection. At least that's how I read it. When in fact this very option initiates the SSL connection in the first place.

How about `ssl_requi

[2021-02-07 07:17] Jorge-Rodriguez commented on #91
I suppose the risk is inherent when dealing with this kind of pattern. We could deal with that in CI by running a code examination tool that would detect such duplication and alert accordingly.

[2021-02-07 07:39] Jorge-Rodriguez commented on #90
@loomsen it's a bit more complicated than that, because this is not the only option that initiates an SSL connection. You could have `check_hostname` being false but also specify `ssl_cert` and that would also initiate an SSL connection, one where the server certificate is not validated but a client certificate is sent for validation.

While I agree with you that the option name can be misleading,

[2021-02-09 07:17] Andersson007 commented on #31
I'm going to release `community.mysql` 1.3.0 after https://github.com/ansible-collections/community.mysql/pull/62 is merged

[2021-02-09 08:41] Andersson007 commented on #89
@Jorge-Rodriguez  good question:) I''m not a great user of mysql and ssl related options. Does it impliy any breaking changes?
Would be interesting to hear @bmalynovytch 's openion.

[2021-02-09 11:54] Andersson007 commented on #90
for me personally, everything that is really needed / nice to have and doesn't introduce breaking changes is ok;)

[2021-02-09 12:04] loomsen commented on #90
I see. Maybe we could settle for an addition to the docs like: `corresponds to --ssl in the mysql cli`

[2021-02-09 15:39] Andersson007 commented on #90
@loomsen , to add a clarification to documentation is always a good idea. Feel free to create a PR.
If you're busy or something, @Jorge-Rodriguez or I could add it.
@Jorge-Rodriguez what do you think about adding what @loomsen is suggesting?

[2021-02-09 23:07] Jorge-Rodriguez commented on #89
Done carefully, it shouldn't be a breaking change, although personally, I'd like to deprecate the old `REQUIRESSL` especially now that the support for SSL options has grown far beyond what `REQUIRESSL` can offer.

[2021-02-09 23:11] Jorge-Rodriguez commented on #90
Clarifying the documentation is of course there path of least resistance, I have no problem with that.
My only note is what I already mentioned on my comment above, that `check_hostname` is not the only option that implies an SSL connection, so we'll want to be clear and verbose when updating the docs.

[2021-02-10 07:09] Andersson007 commented on #90
OK, folks, if you work with it, you know how to formulate the update better, please do it. I'd be happy to review

[2021-02-10 13:29] akamac opened #96 "Add support for reading login_[host/user/password] from env vars"
##### SUMMARY
I would love to have an option to read login_host from MYSQL_HOST environment variable, login_user from MYSQL_USER and login_password from MYSQL_PWD.
This would allow to avoid providing all these values to module(s) invocations.

##### ISSUE TYPE
- Feature Idea

[2021-02-10 13:40] tgadiev commented on #77
I faced the same issue. Idempotence test fails on the following task:
[code]

[2021-02-11 06:42] Andersson007 commented on #96
@akamac thanks for the feature idea!

[2021-02-12 10:08] kkeane commented on #89
First, thank you for pointing me to the latest community version of community.mysql . I installed it (version 1.2.0) but am not sure how to verify that this is actually being used.

Switching to the tls_requires attribute works correctly, but the mysql_user module still always reports changed.

Here are all the arguments I'm passing to the module_args (collected with --vvv)

changed: [redacted] =>

[2021-02-12 10:27] Andersson007 commented on #89
@kkeane thanks for the feedback!
For information: you can be sure that your playbook uses `community.mysql` by using a fully qualified collection name (FQCN), i.e. change `mysql_user:`  to `community.mysql.mysql_user:` (and other modules invocations similarly).

As far as I remember there's a similar issue related to reporting changed=True when using `ALL`, https://github.com/ansible-collections/c

[2021-02-12 15:46] kkeane commented on #89
Thank you! I did use the FQCN, so we know it was a community version, but in this case knowing that is not enough. RedHat's Ansible 2.9 ships with the community version as well, but that would be an older version. I believe the RedHat version does not include the tls_requires attribute, so most likely I used the correct version - I just can't guarantee it.

My issue is different from https://githu

[2021-02-12 16:57] Jorge-Rodriguez commented on #89
@kkeane thank you so much for the info, it's very valuable.
The bad news is I won't be taking this issue immediately. Since it seems to involve discrepancies with MariaDB, I feel it makes more sense to handle the MariaDB refactor first.

This is still an important issue and it's high on my priority list, but I won't be providing a fix just yet.

I'm the meanwhile, whatever extra information you ca

[2021-02-12 17:00] kkeane commented on #89
Completely agreed with your prioritization. This is not a showstopper, and I lived with it for months before I even filed the issue.

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, February 12, 2021 8:57 AM, Jorge Rodriguez (A.K.A. Tiriel) <notifications@github.com> wrote:

[2021-02-12 17:14] kkeane commented on #89
One more update:

It appears that the REQUIRESSL issue might well be fixed with tls_requires, and that my current problem could be a separate one. Again, not a showstopper for me.

The module will also always report "changed" when I create a backup user with the following privileges and no tls_requirements attribute: I have a feeling that trying to chase down all the various possible combinations

[2021-02-18 09:41] Andersson007 opened #98 "mysql_replication: change the word SLAVE to REPLICA in messages returned by the module in the next major release"
##### SUMMARY
mysql_replication: change the word SLAVE to REPLICA in messages returned by the module in the next major release

Currently it's `community.mysql` of version 1.2.0

The announcement has been made in https://github.com/ansible-collections/community.mysql/pull/97

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_replication

[2021-02-18 12:50] JaSafieddine opened #99 "mysql_user column privilege show task as always changed"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mysql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04.4 LTS
Percona Server 5.7

##### STEPS TO REPRODUCE

in MySQL:
[code]

Run a play with the following task:
[code]

##### EXPECTED RESULTS

Running this task a second time shows no changes.

##### ACTUAL RESULTS

Task is alwa

[2021-02-19 14:18] Andersson007 commented on #99
@JaSafieddine thanks for the issue!
I see significant difference in how the module handle privileges between 2.9 and the `community.mysql` of last version.

Ansible 2.9 supports collections. Could you please:
1. download and install the collection [tarball](https://galaxy.ansible.com/community/mysql) see the [manual](https://docs.ansible.com/ansible/latest/user_guide/collections_using.html)
2. cha

[2021-02-19 16:52] JaSafieddine commented on #99
I tried it with the `community.mysql` collection version 1.2.
Same result as before.

Secondly I tried another version of MySQL Server:
[code]

With the result:
[code]
So in MySQL 8.0.23-0ubuntu0.20.04.1 the Grant statement uses '\`' around the column names, secondly the order of column names does not change the `SHOW GRANTS` command in MySQL regardless of order given in Ansible.

Still the task i

[2021-02-20 06:55] Andersson007 commented on #99
It's a behavior of MySQL
[code]

[2021-02-21 17:48] Andersson007 commented on #99
the bug exists, I created a PR to fix it https://github.com/ansible-collections/community.mysql/pull/100

[2021-02-23 13:50] Jorge-Rodriguez opened #101 "mysql_user: Drop support for REQUIRESSL"
The `REQUIRESSL` privilege has been superseded by the more complete `tls_requires` option. The privilege has been kept for backwards compatibility, but in doing so it's introduced extra complexity in the module code and a number of idempotence issues.

With PR #97 we're planning a release with breaking changes. Here I'm proposing using the opportunity to drop the support for the `REQUIRESSL` privi

[2021-02-23 15:45] Andersson007 commented on #101
I don't feel empoyered to discuss the topic not being a MySQL user even (would be pretty dangerous to make any breaking decisions based on my suggestions, among other thing)
@bmalynovytch @bmildren @steveteahan what do you think?

[2021-02-23 15:45] Andersson007 commented on #101
I don't feel empoyered to discuss the topic not being a MySQL user even (would be pretty dangerous to make any breaking decisions based on my suggestions, among other thing)
@bmalynovytch @bmildren @steveteahan what do you think?

[2021-02-26 10:22] Jorge-Rodriguez opened #104 "mysql_user always reports changes when `privs: *.*:ALL`"
##### SUMMARY
According to the [docs](https://dev.mysql.com/doc/refman/8.0/en/show-grants.html) MySQL 8 no longer reports `ALL` privileges as `ALL` but as the explicit list of granted privileges.

This causes the privilege parser to always detect a change in privileges

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#####

[2021-02-26 10:25] Jorge-Rodriguez commented on #77
Related to #62 #99 #89

According to the [docs](https://dev.mysql.com/doc/refman/8.0/en/show-grants.html) MySQL 8 no longer reports `ALL` privileges as `ALL` but as the explicit list of granted privileges.

This causes the privilege parser to always detect a change in privileges

[2021-02-26 10:26] Jorge-Rodriguez commented on #104
Duplicates #77

[2021-02-26 10:26] #104 closed

[2021-03-01 08:58] Andersson007 commented on #31
@Jorge-Rodriguez @bmalynovytch @bmildren I've just add the following to the description:
[code]
We could align the major releases with Ansble major releases as @felixfontein suggested in https://github.com/ansible-collections/community.mysql/pull/97#issuecomment-785921194.

I suggest releasing version `2.0.0` containing at least https://github.com/ansible-collections/community.mysql/pull/97 in Ans

[2021-03-01 09:56] Jorge-Rodriguez commented on #31
@bmalynovytch @bmildren I'd like to move the discussion on #101 forward before we release v2

[2021-03-01 10:11] bmalynovytch commented on #101
I doubt most of sysadmins use REQUIRESSL with MySQL / MariaDB, even though it's recommended.
Most of the people impacted with this breaking change should be able to upgrade their configuration, along with the update of the module.

I'm fine with this approach.

[2021-03-01 10:30] RealKelsar commented on #50
Today I stumbled uppon this, since mysql_user stopped working for me, since the parse function for the GRANT throws an exception, 'SET DEFAULT ROLE' Statement is found. So atleast this module should ignore those lines for the time beeing. IMHO

[2021-03-01 11:25] Jorge-Rodriguez commented on #50
The comment from @RealKelsar points to this being related to #77

[2021-03-01 18:12] petracvv opened #105 "mysql_user: Mariadb new REPLICA MONITOR / SLAVE MONITOR privileges not supported"
##### SUMMARY
Starting with MariaDB 10.5.9, the REPLICATION SLAVE ADMIN grant no longer allows SHOW SLAVE STATUS and SHOW RELAYLOG EVENTS as those are now covered by the SLAVE MONITOR grant (REPLICA MONITOR is an alias for SLAVE MONITOR).

See https://jira.mariadb.org/browse/MDEV-23610?focusedCommentId=173137&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-173137 fo

[2021-03-01 20:11] felixfontein commented on #101
Besides that it's nice to finally get rid of the "SSL" (and replace it with the correct "TLS"), since TLS is around for almost 22 years now (as successor to the SSL protocols) and the last SSL protocol (SSLv3) has been deprecated almost 6 years ago (after being broken, and not being recommended for many more years). :)

[2021-03-03 09:58] #99 closed

[2021-03-03 09:59] Andersson007 commented on #99
closed via https://github.com/ansible-collections/community.mysql/issues/99

[2021-03-03 15:30] hubiongithub commented on #6
Hello
I try to connect MariaDB to pam (https://mariadb.com/kb/en/authentication-plugin-pam) .
To use a specific pam service you can create a user like:

create user user@host IDENTIFIED WITH/VIA pam USING 'pam_service_name';

In a task like:
      mysql_user:
        name: user
        plugin: "pam"

works, but then all pam modules regarding account/auth are questioned.
"pam USING <pam_service_nam

[2021-03-04 11:04] JaSafieddine opened #106 "mysql_user follow up on column privileges"
##### SUMMARY

Issue #99  got partially solved by PR #100. It would be great to generalize this solution to work with all column privileges. The MySQL 8.0 documentation (https://dev.mysql.com/doc/refman/8.0/en/grant.html#grant-column-privileges) specifies the following column privileges:

 INSERT, REFERENCES, SELECT, and UPDATE

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mysql_user

[2021-03-05 14:50] Andersson007 commented on #106
@JaSafieddine thanks for the issue! I'm working on it

[2021-03-05 17:54] Andersson007 commented on #106
https://github.com/ansible-collections/community.mysql/pull/107 the final tests passed. I made a small adjustment in tests. They should pass again, so ready for review

[2021-03-05 18:09] Andersson007 commented on #106
fyi: there are false codecov failings. the units and integration passed

[2021-03-06 05:37] Andersson007 commented on #88
@AshDevilRed , I'll close the issue. See the comment above. If you try and confirm that everything is OK (or not OK), it would be really great. Thanks!

[2021-03-06 05:37] #88 closed

[2021-03-08 14:56] Andersson007 commented on #105
@petracvv hi, thanks for reporting this! I created a PR https://github.com/ansible-collections/community.mysql/pull/108

[2021-03-08 15:03] Andersson007 opened #109 "mysql_info: remove "slave/master" from function names, etc."
##### SUMMARY
As spotted https://github.com/ansible-collections/community.mysql/pull/97#issuecomment-792813416 by @Jorge-Rodriguez ,
we should replaces the slave / master words in function names / comments / etc. to replica / primary (for example).

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
`mysql_info`

[2021-03-08 15:22] Andersson007 opened #110 "mysql_user: Analyze a possibility to remove privs frozenset at all"
##### SUMMARY
There were a lot of reports that mysql_privs does not support valid privileges. For example https://github.com/ansible-collections/community.mysql/pull/108
I think it's very annoying for users.
We should analyze removing the VALID_PRIVS frozenset where we usually just add such privs to.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mysql_user

[2021-03-08 16:15] Andersson007 commented on #31
Tomorrow will be Ansible 3.1.0 release, so I'll release this collection now to get things included

[2021-03-08 16:18] #106 closed

[2021-03-08 16:26] Andersson007 commented on #31
community.mysql 1.3.0 has been released

[2021-03-08 16:33] Andersson007 commented on #106
@JaSafieddine thanks for reporting!
@Jorge-Rodriguez thanks for reviewing!

I've just release community.mysql 1.3.0, so the changes will appear in Ansible 3.1.0 tomorrow, hope we didn't introduce new bugs:D
Despite the CI tests, if you can try it soon, I'd be grateful for feedback
Thanks everyone!

[2021-03-11 08:37] rndmh3ro opened #114 "mysql_user: get full mysql version string as a variable"
##### SUMMARY
Right now if you use `mysql_info` to get the version of the database, you get back a dict with three items for the major, minor and release version. However it's hard to use this variable in a version-comparison (e.g. `when:  mysql_version is version('5.6', '>=')`), because you first have to construct a new variable from the dict.

Therefore I propose to add a new variable (e.g. `ful

[2021-03-11 08:42] Andersson007 commented on #114
@rndmh3ro hi, thanks for the issue!
I like the idea, sounds sensible!
I suggest naming it maybe like `raw_mysq_version`?
Would you like to implement it yourself or i could?

[2021-03-11 08:43] Andersson007 commented on #114
oh, sorry, "full_version" is OK!

[2021-03-11 08:46] Andersson007 commented on #114
@rndmh3ro I think we could add this to `version`, e.g.:
[code]

[2021-03-11 08:47] rndmh3ro commented on #114
I'll try to implement it.
I'll use as a new filter `full_version` and return `raw_mysql_version`? Or should have both the filter and the variable the same name?

[2021-03-11 08:54] Andersson007 commented on #114
@rndmh3ro cool, thanks!
And i don't remember (i have no instance of mysql right now) whether it always contains `mariadb` / `mysql` in it?
If yes, we could put a key with it to the dict as well but i'm not sure how to name it.

[2021-03-11 08:55] Andersson007 commented on #114
(@rndmh3ro don't forget to add a check to tests/integration/targets/test_mysql_info)

[2021-03-11 08:57] Andersson007 commented on #114
(and feel free to add yourself to `authors:`)

[2021-03-11 09:08] Andersson007 commented on #114
So, i think we should also put in the dict a key, say called `type:`, containing `mariadb` or `mysql` (i.e. what is before `-` in a version string)

[2021-03-11 09:39] rndmh3ro commented on #114
I'll add that, however it's not always `mariadb` or `mysql`. Maybe call the variable simply `suffix`?
[code]

[2021-03-11 10:23] Andersson007 commented on #114
@rndmh3ro ah, thanks, i mixed up the format with postgresql. Yeah, `suffix` sounds good to me, I'm sure it can be useful

[2021-03-11 15:17] #105 closed

[2021-03-11 15:18] Andersson007 commented on #105
@petracvv merged, thank you

[2021-03-11 20:04] petracvv commented on #105
Thanks for the work on this!

[2021-03-12 08:18] Andersson007 commented on #110
After investigation: no, we can't just remove the frozenset and get rid of the check safely without huge refactoring.
Reason: there are several cursor with autocommit like 1) create a user 2) grant privileges.
If there's an invalid priv passed, the user will be created (and will stay in the database) but the module will fail on the grand privs step. So it will lead to inconsistency.

The option is

[2021-03-12 09:13] rndmh3ro commented on #110
I only know of the public changelogs:
https://dev.mysql.com/doc/relnotes/mysql/8.0/en/
https://mariadb.com/docs/release-notes/

Subscribing to these could be enough since distributions also take some time to release these new version.

[2021-03-12 09:17] Andersson007 commented on #110
@rndmh3ro thanks! I have an accound, logged in, but don't see any buttons like "Subscribe" or something

[2021-03-12 09:18] Andersson007 commented on #110
Seems i found it, it's in profile settings

[2021-03-12 09:23] Andersson007 commented on #110
i think it's there https://www.mysql.com/news-and-events/newsletter/

[2021-03-12 09:24] Andersson007 commented on #110
Who's interesting, please subscribe too. We could make the collection users much happier acting proactively (and i think it's good to be informed in general)

[2021-03-12 09:28] Andersson007 commented on #110
mariadb announce newsletter subscription (i think they should publish new thing there) is https://lists.askmonty.org/cgi-bin/mailman/listinfo/announce

[2021-03-15 12:25] JaSafieddine opened #119 "Improve documentation of the priv parameter."
##### SUMMARY

The description of the `priv` parameter contains a short section about column privileges which is not properly rendered and can be improved.

The lines in question are this: https://github.com/ansible-collections/community.mysql/blob/bd86e249d0d3a24ba68951911b12ff008387f9ac/plugins/modules/mysql_user.py#L51-L54

1) The `C(…)` function seems to not work nice with parenthesis inside i

[2021-03-15 15:01] bigo8525 opened #120 "mysql_user: Grant all privileges result in missing dynamic privileges in every second run in MySQL 8"
##### SUMMARY

In MySQL 8 are dynamic privileges new. The `GRANT ALL` includes per default these dynamic privileges. The dynamic privileges are stored in `mysql.global_grants`. At restart the dynamic privileges are assigned to the user by reading the `mysql.global_grants` table.
[dynamic privileges docs](https://dev.mysql.com/doc/refman/8.0/en/privileges-provided.html#privileges-provided-dynamic)

[2021-03-16 07:10] #114 closed

[2021-03-16 09:54] #101 closed

[2021-03-16 14:27] Andersson007 commented on #119
@JaSafieddine hi, thanks very much for spotting this!
Would you like to submit a PR?

If you don't have such experience, I'm writing the quick start guide https://github.com/ansible-collections/community.mysql/pull/112. There are ~20 simple steps how to do it.

You could try and provide feedback.
It would be much appreciated because this CONTRIBUTING.md will probably be used in most the collection

[2021-03-16 17:47] JaSafieddine commented on #119
Hi @Andersson007. Sure I can try to create the PR. Thanks for the link to the quick start guide.

[2021-03-18 08:19] fourstepper commented on #73
I am hitting the same error on two Ansible versions

[code]

The credentials are correct as I can connect to the mysql database from the shell, I think the error might not be handled correctly.

[2021-03-19 09:04] Andersson007 commented on #119
@JaSafieddine YW! Cool, if any questions, feel free to ask!

[2021-03-19 09:11] Andersson007 commented on #73
@fourstepper thanks for reporting this, what do you mean? (Did you see my previous comment?)

[2021-03-22 10:58] markuman opened #128 "mysql_user: password change detect"
##### SUMMARY
When creating a user with `mysql_user`, it always returned "change", even if the password does not change.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
No change detect when the requested password `SELECT password('{{ item.password }}') as p` is already the same hash in the mys

[2021-03-23 08:03] Andersson007 commented on #31
1. according to the [2.11 roadmap](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_11.rst), the expected release date of 2.11 is 2021-04-26,
I suggest releasing **community.mysql 2.0.0 ~in mid-April**
2. according to the [2.12 roadmap](https://github.com/ansible/ansible/pull/74000), the expected release date of 2.12 is 2021-10-25
I suggest releasing **community.mys

[2021-03-23 08:34] Jorge-Rodriguez commented on #31
LGTM, I'll have to hurry with the `REQUIRESSL` thing, so that's next on my table

[2021-03-25 13:05] Andersson007 commented on #12
@Jorge-Rodriguez
1) do you need the branches https://github.com/ansible-collections/community.mysql/branches ?
2) have you seen my email? (nothing urgent or super important)

[2021-03-25 15:39] Jorge-Rodriguez commented on #12
@Andersson007 I don't need the branches, and yes, I saw your email. I've been meaning to answer but things have been quite busy on my end.

[2021-03-25 16:12] Andersson007 commented on #12
@Jorge-Rodriguez cool, thanks for the confirmation! There's even no need to answer. It was just random thoughts:) I wanted to be sure it didn't end up in a spam folder or something.

[2021-03-29 19:46] Jorge-Rodriguez commented on #89
@kkeane we're dropping support for `REQUIRESSL` altogether, I'll have a PR ready soon for that. The support will be dropped in two stages, the first of which will effectively turn the `REQUIRESSL` privilege into an alias for `{"tls_requires": {"ssl": true}}`.

I would appreciate if you could verify whether this bug appears on your setup with the new code. I'll tag you and this issue on the PR.

[2021-03-31 07:45] Jorge-Rodriguez commented on #90
I'm reopening this issue as it is related to an obscure handling of TLS by the MySQLdb connector.

[2021-04-04 04:22] parseword opened #136 "mysql_user: privileges_unpack() bug when handling some column-level privileges"
##### SUMMARY
In some scenarios, `privileges_unpack()` calls `privs.append()` inside a loop without first emptying or reinitializing the `privs` list from the prior iteration. This can result in an invalid `GRANT` statement, which incorrectly includes privileges from a previously-built `GRANT` statement.

In my environment, the bug is triggered when the `priv` specification from an Ansible task co

[2021-04-04 05:53] Andersson007 commented on #136
@parseword hi, thanks for reporting this!

Would you like to create a pull request yourself? (If you don't know how to do it, we have a [short quick-start guide](https://github.com/ansible-collections/community.mysql/blob/main/CONTRIBUTING.md#step-by-step-guide-how-to-get-into-development-quickly).

If you don't want, we could.

[2021-04-08 11:43] emper0r opened #140 "issue con password using encoding characters"
### Summary

Using mysql_user module to add new user into mysql database on centos 7 I can send user, password with '£' symbol in the string and can login after, same code using centos 8 can't login with the same password.

### Issue Type

Bug Report

### Component Name

mysql_user

### Ansible Version

[code]
[code]

### OS / Environment
[code]
### Steps to Reproduce

[code]

### Expected Results

[2021-04-08 13:19] emper0r commented on #140
Enabling mysql query log to see what receive it
 SELECT CONCAT('*', UCASE(SHA1(UNHEX(SHA1('123abc⚌abc123')))))
is curious on Windows to write this issue appears  '⚌' not '=' but on linux can see like '| ' and of course not is '£' to set password correctly.

[2021-04-09 17:19] #91 closed

[2021-04-10 05:01] #89 closed

[2021-04-10 05:27] Andersson007 commented on #140
@emper0r hi, thanks for reporting this! We'll try to take a look ASAP!

[2021-04-10 06:24] Andersson007 commented on #140
ah, I see now that you created an issue also in pymysql.

[2021-04-10 06:37] Jorge-Rodriguez commented on #98
As we continue the work to remove offensive language, we should also change instances of "MASTER" to "PRIMARY" instead.

[2021-04-10 07:59] Andersson007 commented on #98
Sounds good!

[2021-04-10 08:44] Andersson007 commented on #98
@Jorge-Rodriguez if you want to do it yourself, please put something here before starting or I could take a look tomorrow or next week.

[2021-04-12 07:23] emper0r commented on #140
Yes... and them close the issue saying [set charset utf8mb4](https://github.com/PyMySQL/mysqlclient/issues/492#issuecomment-817263712), and I had already setup that `utf8mb4` ... would be possible add on module that option for test it?.. I can't see on the [mysql_user module ansible doc](https://docs.ansible.com/ansible/latest/collections/community/mysql/mysql_user_module.html)

[2021-04-13 04:55] Andersson007 commented on #140
@emper0r
Ok, will do, thanks
Would be good if you create a new issue for that, thanks!

[2021-04-14 09:53] akamac opened #143 "Cannot grant proxy privileges on anonymous user"
##### SUMMARY
Trying to grant privileges on anonymous user `''@''` leads to incorrect results.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
https://github.com/ansible-collections/community.mysql/blob/dc522cc5d3d00a15d0564955c53019ae58881535/plugins/modules/mysql_user.py#L944

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
[code]
results in

[code]
The user is always appended with '

[2021-04-14 14:16] Andersson007 opened #145 "mysql_replication: replace Is_Slave and Is_Master returned value with Is_Replica and Is_Primary in community.mysql 3.0.0, replace master in messages with primary"
##### SUMMARY
mysql_replication: replace `Is_Slave` and `Is_Master` return value with `Is_Replica` and `Is_Primary` in `community.mysql 3.0.0`
mysql_replication: replace the word `master` in messages with `primary`

Announced in https://github.com/ansible-collections/community.mysql/pull/144

1. Add alternatives for `master*` state values similarly to https://github.com/ansible-collections/communi

[2021-04-14 14:31] Andersson007 commented on #12
FYI: I'm releasing `community.mysql 2.0.0` tomorrow morning (2021-04-15)

[2021-04-14 14:31] Andersson007 commented on #31
FYI: As planned, I'm releasing `community.mysql 2.0.0` tomorrow morning (2021-04-15)

[2021-04-14 14:35] Andersson007 commented on #12
FYI: In addition to fully replace `stopslave`, `startslave`, etc. state values with corresponding `stopreplica`, etc. in `community.mysql 3.0.0` next autumn, I've just announced replacement of `Is_Slave` with `Is_Replica` (I'll add a warning ASAP).

W're also gonna replace `master` with `primary`.

[2021-04-14 14:52] Andersson007 commented on #12
This is the plan for 3.0.0:
[code]
+ dropping support for REQUIRESSL (see https://github.com/ansible-collections/community.mysql/pull/132)

[2021-04-15 08:40] Andersson007 commented on #31
community.mysql 2.0.0 has been released

New branch `stable-2` has been created as well

@Jorge-Rodriguez @bmalynovytch it means that we have to backport to `stable-2` (by cherry-picking from `main`) all changes we'll merge to `main` since now (**except breaking changes!**).
I created a label `needs_backport_to_stable-2` - please put it on all PRs you'll merge since now, then create backports. Tha

[2021-04-15 08:42] Andersson007 commented on #31
So we're planning the next (`3.0.0`) major release **~in mid-October**

[2021-04-15 08:46] Andersson007 commented on #12
community.mysql 2.0.0 has been released

New branch stable-2 has been created as well

It means that we have to backport to `stable-2` (by cherry-picking from `main`) all changes we'll merge to `main` since now (except breaking changes!).
I created a label `needs_backport_to_stable-2` - please put it on all PRs you'll merge since now, then create backports. Thanks!
Don't put this label on PRs with

[2021-04-15 09:42] Andersson007 commented on #145
https://github.com/ansible-collections/community.mysql/pull/147

[2021-04-15 12:38] Fanduzi opened #148 "why login_unix_socket can't use for remote connection?"
##### SUMMARY

ansible version 2.9.18
in the doc:
login_unix_socket: The path to a Unix domain socket for local connections.

My mysql only has `with grant option` for root@localhost, which means I can only ssh to the mysql server and connect via socket. But community.mysql.mysql_user's login_unix_socket only works on `connection: local`?
Unlike older versions of ansible's mysql_user module

#####

[2021-04-16 07:19] Andersson007 commented on #31
fyi: `stable-1` has been created as well. I've just released `community.mysql 1.4.0`. We'll backport only bug / security fixes to `stable-1`

[2021-04-22 14:33] geerlingguy opened #151 "mysql_user module failing with "'database' is an invalid keyword argument for this function""
##### SUMMARY

I haven't changed anything in my role, and I looked through the changelog for this collection, and I can't find anything that indicates I'm doing something wrong, so I figured I'd open a bug report here; my CI tests just started failing after Ansible 3.3.0 came out and was used for CI runs starting yesterday.

The failure is on this task:

[code]

And the failure message:

[code]

I

[2021-04-23 05:13] Andersson007 commented on #151
@geerlingguy hi, thanks for reporting this! https://github.com/ansible-collections/community.mysql/pull/116
could you please update the db driver version on your system to let your tests pass while we're working on this.

[2021-04-23 10:23] Andersson007 opened #154 "Enable and fix integration tests against devel"
##### SUMMARY
The integration tests against `devel` were disabled in https://github.com/ansible-collections/community.mysql/pull/153  presumably because of https://github.com/ansible-collections/overview/issues/45#issuecomment-825453639

[2021-04-23 11:06] Andersson007 commented on #31
I'm going to release community.mysql 1.4.1 and 2.1.0 later today

[2021-04-23 14:46] Andersson007 commented on #31
community.mysql 1.4.1 and 2.1.0 have been released

[2021-04-23 14:47] Andersson007 commented on #151
@geerlingguy I've just released fixed version 2.1.0 and 1.4.1. Available on galaxy

[2021-04-28 14:10] fourstepper commented on #73
Hi @Andersson007, I have seen it. Perhaps it could be worked around? Thanks

[2021-04-29 05:31] Andersson007 commented on #73
@fourstepper sure, you could try to use mysqlclient https://pypi.org/project/mysqlclient/ or mysqldb. If it helps, please let me know

[2021-04-29 05:32] Andersson007 commented on #73
@fourstepper of course, remove pymysql previously

[2021-04-29 09:48] fourstepper commented on #73
What's interesting also is that when I run the same playbook against a CI container with centos 8 (and systemd), there are no issues with the pymysql driver. It's a bit puzzling. Same Ansible version, same OS (up to date) and the results differ

[2021-04-30 08:02] Andersson007 commented on #73
Yes, it's interesting.

[2021-05-03 09:27] robertdebock opened #164 "Setting root password on Fedora 34 (mariadb-server-10.5.9-5) not possible"
##### SUMMARY
On Fedora 34, which uses `mariadb-server-10.5.9-5.fc34.x86_64
`, setting a root-password fails:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysq_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Controller: Mac OS X
Managed node: Fedora 34

##### STEPS TO REPRODUCE
I'm using Molecule to test [this code](https://github.com/robert

[2021-05-03 13:07] iangregory commented on #73
I also experienced this issue - can confirm using `mysqlclient` vs `pymysql` resolves this on OpenBSD 6.9

[2021-05-03 13:29] Andersson007 commented on #73
@iangregory thanks for the feedback!

[2021-05-03 13:44] Andersson007 commented on #164
@robertdebock hello, thanks for reporting the issue! You ran it in docker, right? We experienced a problem with running postgresql in the fedora 34 container today too. Dbus seems to be preinstalled there but the system can't launch it and postgresql resp. I didn't try it in a VM though.
If anybody could check this issue on a Fedora 34 VM and report the result, it would be cool.

[2021-05-04 11:39] TomonoriMatsumura commented on #151
Thanks to this fix, my Playbook is working again!

Thank you very much!

[2021-05-04 11:45] Andersson007 commented on #151
@TomonoriMatsumura you and the community are welcome:)

[2021-05-04 18:49] robertdebock commented on #164
I reproduced the error on a VM (Fedora 34): same issue. Good hint though.

About PostgreSQL: that could be an unrelated issue.

[2021-05-05 05:41] Andersson007 commented on #151
As it's confirmed that the fix helps, I'll close the issue. Thanks everyone!

[2021-05-05 05:41] #151 closed

[2021-05-05 05:43] Andersson007 commented on #109
solved

[2021-05-05 05:43] #109 closed

[2021-05-05 05:51] Andersson007 commented on #164
@robertdebock thanks for the feedback!

1) is it relevant only for `root` user? if you run same playbook with same password against another user, does it work well?
2) does the password contain symbols like `£` that can require (I don't know how to say properly) something like "extended encoding"?
3) do you use same mariadb server version on both Fedora33 and Fedora34?

[2021-05-05 06:39] robertdebock commented on #164
Hi @Andersson007.

Answers:
1. It's relevant for multiple users; I tried `root` and `newroot`.
2. No, I used: `s3Cur31t4.`.
3. I use the mariadb version that comes packaged with Fedora:

|Fedora version|MariaDB version|
|---------------|----------------|
|33|mariadb-10.4.18-1.fc33|
|34|mariadb-10.5.9-5.fc34|
|35 (rawhide)|mariadb-10.5.9-5.fc35|

[2021-05-05 07:04] Andersson007 commented on #164
@robertdebock thanks for the information! Hope someone can take a closer look at the issue soon.

[2021-05-08 13:21] ksarunas commented on #151
I am on `ansible 2.10.9` and I am still receiving the same error:
[code]

task:
[code]

[2021-05-09 23:11] ehudkaldor opened #165 "mysql_replication changemaster does not support GET_SOURCE_PUBLIC_KEY"
in mysql 8.0, setting replication source on the replica requires the parameter GET_SOURCE_PUBLIC_KEY=1 so the replica will grab the pub key from the source. This parameter does not exist in the collection

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 20.04

##### STEPS TO REPRODUCE

see below

[code]

[2021-05-10 05:39] Andersson007 commented on #165
@ehudkaldor hi, thanks for reporting this! Would you like to add the feature yourself?

If no and anyone else wants to do it, please let us know by putting a comment here.
We have a quick [start guide](https://github.com/ansible-collections/community.mysql/blob/main/CONTRIBUTING.md) which should help (or I could look but am not sure when).

Thanks

[2021-05-10 05:53] Andersson007 commented on #151
@ksarunas Ansible release is planned tomorrow (on May 11) but I don't know the exact time, so you could try to upgrade, say, on May 12 and give us feedback. Alternatively, you could install the latest version of the collection manually using `ansible-galaxy`, see the manual [here](https://docs.ansible.com/ansible/latest/user_guide/collections_using.html). In any case, please give us the feedback.

[2021-05-14 10:37] Andersson007 opened #167 "Update the list of supported connectors (especially the links) in README."
##### SUMMARY
Update the list of supported connectors (especially the links) in README.

I think it's incorrect as it is now:
[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
README.md

[2021-05-14 10:59] Andersson007 commented on #167
would be grateful for any help with it

[2021-05-14 11:58] ziegenberg commented on #167
**MySQLdb**
As CentOS 7 has an EOL of mid-2024 and currently brings MySQL-python in version 1.2.5, RHEL 8 brings version 1.4.6, Ubuntu 18.04 LTS (EOL mid-2023) brings version 1.3.10 and Ubuntu 20.04 LTS (EOL mid-2025) brings 1.4.4.
So 1.2.5 seems like a sensible lower bound.

**PyMySQL**
RHEL 8 brings version 0.8.0, CentOS 7 provides 0.9.3 via EPEL and Ubuntu 18.04 LTS (EOL mid-2023) brings also v

[2021-05-14 13:11] Andersson007 commented on #167
@ziegenberg thanks for the info! @Jorge-Rodriguez ^ FYI.

The question also is that we have the `mysqlclient` and `PyMySQL` repos under `https://github.com/PyMySQL/` organization.
As we can see in the current README, the MySQLdb link points to https://github.com/PyMySQL/mysqlclient. Is that correct?
1. Same question said in other words: is MySQLdb == mysqlclient or it is different entities?
From t

[2021-05-17 12:03] ziegenberg commented on #167
**PyMySQL**
If you enable the python38 module from AppStreams, you get Version 0.9.3 instead of 0.8.0 (which should also bring compatibility with `caching_sha2_password`).

[2021-05-17 13:09] ziegenberg commented on #167
As far as I understand it: 'MySQLdb == mysqlclient' is correct. mysqlclient is a fork of MySQLdb1and both `mysqlclient` and `PyMySQL` reside under the `https://github.com/PyMySQL/` organization.

Which is better? How should we arrange them?
That's a more difficult question. Both seem to be under active development.

PyMySQL is a pure Python MySQL Client and has no dependencies outside of Python.
m

[2021-05-17 14:06] Andersson007 commented on #167
@ziegenberg thanks for the detailed explanation!
Now it's clear that if we install mysqlclient, `import MySQLdb` will work.

@ziegenberg @Jorge-Rodriguez does it make sense to split the line `- [MySQLdb](https://github.com/PyMySQL/mysqlclient-python)` into something like:
[code]
?
or maybe changing `MySQLdb` -> `mysqlclient` in the current sentence?

If README is relevant now and fine in this part

[2021-05-17 16:31] jnm27 commented on #73
With mysqlclient, we get this error instead:

'unable to find /********/.my.cnf. Exception message: (2013, "Lost connection to MySQL server at ''reading initial communication packet'', system error: 0")'

So we are blocked here. Is there any outlook for a fix? Is Ansible reusing a MySQL connection over multiple threads/processes?

[2021-05-18 08:06] Andersson007 commented on #73
@jnm27 do you think if it's related issues? https://stackoverflow.com/questions/5755819/lost-connection-to-mysql-server-at-reading-initial-communication-packet-syste

[2021-05-18 08:12] Andersson007 commented on #73
if anyone tries to run the playbooks where the issue appears with `PyMySQL` and the `--forks 1` option (the default is 5) and provides the feedback, It would be nice.

[2021-05-18 08:13] Andersson007 commented on #73
@jnm27 ^ could you please do this?

[2021-05-18 08:14] fourstepper commented on #73
I will go for it @Andersson007

[2021-05-18 08:17] Andersson007 commented on #73
@fourstepper thanks!

[2021-05-18 08:22] Andersson007 commented on #73
@fourstepper if it doesn't help, we could in addition add `serial: 1` to the playbook

[2021-05-18 08:25] fourstepper commented on #73
@Andersson007 no bueno as well

[2021-05-18 08:33] Andersson007 commented on #73
@fourstepper thanks for the feedback!

[2021-05-18 08:41] Andersson007 commented on #73
yeah, as we can see in the provided traceback, everything seems to happen on the target machine:
[code]
and we don't use any things related to multiprocessing in our modules.. strange. And it's even stranger because, as @fourstepper mentioned, everything works fine in docker.
I asked the folks in ansible-community IRC channel. Maybe they have ideas.

[2021-05-18 09:21] fourstepper commented on #73
It works in CI even for the upstream project that I use, in our CI, but not in my prod :D its kinda sad

https://github.com/geerlingguy/ansible-role-mysql/actions/runs/833828534

[2021-05-18 14:31] bmalynovytch commented on #164
The error is strange: it says it's trying to "connect" to localhost but reports "No such file or directory" which means it was trying to look on the local filesystem.
There must be a mess with the socket connection (default because using localhost as hostname).
Have you tried to connect to "127.0.0.1" or specify the path of the Unix socket ?

[2021-05-18 16:11] Jorge-Rodriguez commented on #167
@ziegenberg thank you so much for the info.
@Andersson007 I need some time to digest all this information and figure out how it fits in our CI plans, I'll come back to this with clearer ideas (hopefully).

[2021-05-20 15:32] ksarunas commented on #151
I can confirm that on `2.11.0` issue is fixed 👍  thank you!

[2021-05-21 05:01] Andersson007 commented on #151
@ksarunas thanks for the feedback!

[2021-05-26 11:28] Andersson007 commented on #164
@robertdebock could you please take a look at the bmalynovytch's comment above? We'd be grateful for feedback. Thanks

[2021-05-26 13:48] robertdebock commented on #164
I'm very sorry to admit, this was my mistake...

For future reference, here is what was incorrect.

I had the user (`become: true` and `become_user: {{ mysql_user }}`) variable per distribution and version. All distribution and versions used `root`, except Fedora-34, which used `mysql`.

This was the **INCORRECT** handler:

[code]

I removed `become` and `become_user` and the role works again.

[2021-05-26 13:48] #164 closed

[2021-05-26 14:04] Andersson007 commented on #164
@robertdebock no problem at all! Thanks for the feedback! Feel free to report any issues and let's figure out what's going on together. @bmalynovytch thanks for reviewing!

[2021-05-26 20:30] jnm27 commented on #73
Sorry but any updates? Anything we can do to help? What is the next step to investigate?

[2021-05-27 07:50] Andersson007 commented on #73
@jnm27 I ran out of my ideas. The folks in IRC didn't have any ideas too.
Anyway it doesn't seem to be problem of the code in this collection.
Our modules don't fork anything and, in particular, the code related to PyMySQL, so the object is not shared.
And I don't think it's a problem of Ansible-core (which is out of the collection scope) because, as @fourstepper [mentioned](https://github.com/ans

[2021-06-01 12:11] mgedmin commented on #148
The error message

suggests that your problem is caused by #116, combined with using MySQL-python instead of  PyMySQL, and it should already be fixed in #153.

[2021-06-01 12:53] Andersson007 commented on #148
@mgedmin yeah, looks like it should already be fixed, thanks for pointing this out!

@Fanduzi did you install the collection manually? If yes, you should update it manually as well via ansible-galaxy. Could you please give us feedback after that? Thanks

[2021-06-01 20:04] ziegenberg opened #176 "change deprecated parameter pw and db - 2nd try"
##### SUMMARY

Parameters `db` and `passwd` are deprecated, using `database` and `password` is recommended by the DB-API 2.0.

This MySQL collections support two connectors:

- [PyMySQL](https://github.com/PyMySQL/PyMySQL)
- [MySQLdb aka mysqlclient](https://github.com/PyMySQL/mysqlclient-python)

In **PyMySQL** the change from the short parameter to the new long-form was made with v0.6.7 (and the

[2021-06-02 02:12] Fanduzi commented on #148
did you install the collection manually?` No

I am currently using mysql_user instead of community.mysql.mysql_user, the playbook running on production  is working fine so I don't plan to upgrade community.mysql.mysql_user manually, thanks, I already know what the problem is through mgedmin's answer

[2021-06-02 02:12] #148 closed

[2021-06-02 04:55] Andersson007 commented on #148
@Fanduzi thanks for the feedback!

[2021-06-03 08:15] Andersson007 opened #180 "We are looking for new contributors and maintainers."
##### SUMMARY
Hi everyone!

This collection is a part of Ansible package and is looking for new maintainers and contributors.
To learn how to contribute to the collection and how to maintain it / become a maintainer, refer to the [Contributing guidelines](https://github.com/ansible-collections/community.mysql/blob/main/CONTRIBUTING.md) which also includes the Quick-start guide.

This collections i

[2021-06-13 18:13] camillehuot commented on #50
Hi @Jorge-Rodriguez , any update regarding this mariadb_role module?

[2021-06-13 18:18] camillehuot commented on #50
I meant `mysql_role` of course.

[2021-06-13 18:26] Jorge-Rodriguez commented on #50
No updates so far, sorry. I'm in the middle of a major move so my backlog is not getting any love :(

[2021-06-17 05:10] tarunm97 opened #188 "mysql_query: To include the extra-vars"
##### SUMMARY

Hi Team, can we add the extra-vars field in the mysql_query ansible module, just like we have in the **mysql_db** module for dump state(dump_extra_args)
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

mysql_query

##### ADDITIONAL INFORMATION

will be good if we add this feature for example i got stucked while automating this mysql query

[code]

I tried to automate t

[2021-06-17 06:48] Andersson007 commented on #188
@tarunm97 hi, thanks for the feedback!
The module works via a Python driver (mysql_db state dump works via the CLI utility), so I think it's impossible to pass extra args to mysql_query.
Could you please provide:
1) output / errors you get
2) output you're trying to achieve
Thanks!

[2021-06-17 08:47] tarunm97 commented on #188
hi  @Andersson007 ,

need to include the **--skip-column-names -A** in the above command, how to add this.

[2021-06-18 06:27] Andersson007 commented on #188
@tarunm97 hi, we can't add the arguments as I explained.
I'm trying to figure out what you got using the module and what you wish to achieve.
That's why I'm asking the actual and desired output / result. Maybe we could solve it somehow another way.

[2021-06-22 11:23] Andersson007 commented on #188
cc @tarunm97 ^

[2021-06-22 11:35] tarunm97 commented on #188
Hi @Andersson007,

when i am executing the command:-

`mysql  -uroot -p'' --skip-column-names -A -e"SELECT CONCAT('truncate table ',table_schema,'.',table_name,';') FROM information_schema.tables  WHERE table_schema='plparchivetest'"`

I am getting this output:-

**Output:-**
[code]
and when I am executing these commands in the MySQL prompt (Mysql >), I am able to truncate the tables.

so by mergi

[2021-06-24 10:09] Andersson007 commented on #50
Hi everyone, I created the PR https://github.com/ansible-collections/community.mysql/pull/189.
Please help define the module's interface (i.e. options), see the `EXAMPLES` block.

[2021-06-25 07:49] Andersson007 commented on #188
@tarunm97 hi, ok, I'll close the issue then, thanks

[2021-06-25 07:49] #188 closed

[2021-06-25 13:22] camillehuot commented on #50
I'm busy on something else but here is my module to manage ROLES with MariaDB https://gist.github.com/camillehuot/e53e0e5ecbff3527386f1bac5dc6bdcd, in case it helps whoever wants to work on an official one (I really can't).

I've taken the mysql_user.py file and stripped/adapted it to manage roles.

About the interface, here's mine:

[code]
The only new attribute is `with_admin` to tell who is the

[2021-06-25 14:04] Jorge-Rodriguez commented on #50
Thanks @camillehuot that's very helpful!

[2021-06-29 14:20] Andersson007 commented on #50
@camillehuot thanks for sharing your work! We'll take a look

[2021-06-30 07:58] camillehuot commented on #50
FYI I've update [the file](https://gist.github.com/camillehuot/e53e0e5ecbff3527386f1bac5dc6bdcd) with a modified API

1. Now there are:
[code]
instead of 'with_admin'. I think this change is a good idea.

2. I've added a 'all' alias for grants that allow to grant privileges on all schemas but system ones. Not sure this one would fit for a general purpose module..

[2021-06-30 08:20] Andersson007 commented on #50
@camillehuot thanks for the info!

I have a question to everyone who knows: does the `mysql_user` module always return `changed=True` when `append_privs=yes`?

[2021-06-30 08:51] Andersson007 commented on #50
It looks like a bug of `user_mod` function. I added
[code]
to `tests/integration/targets/test_mysql_user/tasks/test_priv_append.yml` after the similar task which added the same privileges and it also failed. I'll create an issue.

[2021-06-30 11:08] Andersson007 commented on #50
@camillehuot do i understand correctly that:
1. `WITH ADMIN` is supported only by MariaDB ?
2. `ALTER ROLE` statement is currently not supported (for example, to change role's admin)?

If yes, I'd suggest skipping `admin_user` until `ALTER ROLE` with changing admin is added. My main concerns are:
1. If we recreate a role from scratch to change its admin, it would be dangerous for productions becau

[2021-06-30 12:38] Andersson007 commented on #50
i added the option + warning. Needs help with manual testing of https://github.com/ansible-collections/community.mysql/pull/189 with MariaDB and `admin` option (as we don't have MariaDB in CI). We have a guide how to test a PR locally https://github.com/ansible/community-docs/blob/main/test_pr_locally_guide.rst, it's pretty simple.

[2021-07-01 14:38] Andersson007 commented on #50
Finished https://github.com/ansible-collections/community.mysql/pull/189. Ready for review

[2021-07-01 15:57] beckjkl commented on #73
I encountered the same error today. I tested it on two almost identical machines, one off them got the error but not the other. They are both Ubuntu servers running Mariadb 10.4 with pymysql 0.9.3 installed. Are there any tests I can do that could help you diagnose the issue?
Output from the control machine:
ansible --version
ansible 2.9.21
  config file = /etc/ansible/ansible.cfg
  configured mod

[2021-07-08 15:30] bmillemathias commented on #119
Hi @JaSafieddine
any update of the PR ?
best

[2021-07-09 12:07] Andersson007 commented on #50
PR https://github.com/ansible-collections/community.mysql/pull/189 is ready for review

[2021-07-12 09:17] Andersson007 commented on #119
@bmillemathias hi, if you have a wish to update the doc, I'd be happy to review

[2021-07-13 06:26] Andersson007 commented on #73
@beckjkl hi, thanks for the information! And sorry for the late response, was busy with the `mysql_role` new module. (BTW if someone is interesting to see it, please review https://github.com/ansible-collections/community.mysql/pull/189).

This case generally looks like something magic.
What are the differences of the target machines (because the module itself is executed there). Could you provide

[2021-07-13 09:17] beckjkl commented on #73
@Andersson007 Hi, I've tried to get as much information as possible:

- Ubuntu Version: both Ubuntu 18.04.3 LTS
- Kernel version: both the same version
root@hostname:~# uname -a
Linux hostname 4.15.0-147-generic \#151-Ubuntu SMP Fri Jun 18 19:21:19 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
but the issue already occurred on the previous kernel 4.15.0-142-generic

- ansible is not installed on these h

[2021-07-13 09:42] Andersson007 commented on #73
@beckjkl thanks for the feedback!

Ah, of course... I woke up feeling a bit underslept today:) Sorry. Now, after 3 coffee I realized that my question was strange:)

Both the systems look configured basically same way.
The last point looks a bit suspicious - why the first system doesn't show this error?
Obviously the working one uses python3 by default and one of the required libs installed via pip

[2021-07-13 11:26] beckjkl commented on #73
@Andersson007 I've check the problem system again. I remember having some issues when I set up db connections for ansible for the first time. There were some old python2 versions of mysql-client and pymysql still laying around. I removed those. Now both systems only have pymysql installed, but the error persists:
root@working-host:~# pip3 list | grep -i mysql
PyMySQL (1.0.2)

root@problem-host:~#

[2021-07-13 11:49] Andersson007 commented on #73
@beckjkl so nothing has changed after the purging, right? looks like absolute magic to me as both the systems use same software...
I have no ideas then why this happens.

It still looks as something underlying as the function uses high level connector interfaces and the code runs in a single thread on a target machine. As far as I remember we founded that to use `mysqlclient` instead of `pymysql`

[2021-08-10 08:07] markuman commented on #128
it works correctly. the privilege change detection is failing

[2021-08-10 08:11] #128 closed

[2021-08-10 08:16] markuman commented on #83
You're running ansible using python3, means, you must also install pymysql using pip3 or python3-pymysql (via apt).
You can simple verify it by running python3 and type `import pymysql` and running python2 and also type `import pymysql`.

[2021-08-10 09:48] Andersson007 commented on #128
@markuman thanks for closing!

[2021-08-10 09:52] Andersson007 commented on #83
also can be helpful https://docs.ansible.com/ansible/latest/reference_appendices/python_3_support.html , in particular manipulating the `ansible_python_interpreter` var.
@riupie could you please try and give feedback?

[2021-08-10 11:30] #50 closed

[2021-08-10 12:14] Andersson007 commented on #31
I'm gonna release community.mysql 2.1.1 and 1.4.2 tomorrow morning.

[2021-08-10 14:00] Andersson007 commented on #31
also there will be a dev version of 2.2.0 released tomorrow later or on Thursday

[2021-08-11 07:09] Andersson007 commented on #31
community.mysql 1.4.2 and 2.1.1 have been released

[2021-08-11 08:39] Andersson007 commented on #50
community.mysql 2.2.0-a1 has been released and available to install via galaxy or directly from https://galaxy.ansible.com/community/mysql.
It contains the `mysql_role` new module.
`Pay attention that this is a pre-release and is not considered ready for production`.
Any feedback would be much appreciated.
After confirming that everything is find with the module (and with `mysql_user` module as we

[2021-08-14 13:35] riupie commented on #83
Wew, this issue has been resolved on this ticket https://github.com/ansible-collections/community.mysql/issues/8

[2021-08-14 13:46] Andersson007 commented on #83
@riupie thanks for the feedback!

[2021-08-14 13:46] #83 closed

[2021-08-14 13:48] Andersson007 commented on #8
Oh, @riupie sorry for not responding, i missed this somehow.. Thank you for the issue, feedback, and closing this!

[2021-08-18 09:04] laurent-indermuehle opened #204 "mysql_info exception TypeError: int() argument must not be 'NoneType' when database has only views"
##### SUMMARY

When using the mysql_info module to query databases info on a node that contains a database with only views (no normal tables), it fails due to a typing error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module mysql_info

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS : RHEL 8.4
Target Python

[2021-08-19 11:48] Andersson007 commented on #204
@laurent-indermuehle hi, thanks for reporting this! Looking

[2021-08-19 12:54] Andersson007 commented on #204
I reproduced the bug in our integration tests and created a quick PR https://github.com/ansible-collections/community.mysql/pull/205. Could you please take a look? The test failings are unrelated.

[2021-08-20 06:17] #204 closed

[2021-08-20 06:19] Andersson007 commented on #204
@laurent-indermuehle thanks for the contribution! The module factually didn't work in case when there were DBs without tables. Thanks for reporting the issue!

[2021-08-26 15:19] joekeilty-oub opened #211 "Support MAX_STATEMENT_TIME resource limit on MariaDB for mysql_user"
##### SUMMARY

Currently, the following resource limits are supported in mysql_user module for `resource_limits` parameter:

MAX_QUERIES_PER_HOUR: num, MAX_UPDATES_PER_HOUR: num, MAX_CONNECTIONS_PER_HOUR: num, MAX_USER_CONNECTIONS: num.

MariaDB supports another resource limit: MAX_STATEMENT_TIME. As seen: https://mariadb.com/kb/en/grant/#resource-limit-options

##### ISSUE TYPE
- Feature Idea

##

[2021-08-29 16:39] philippemilink opened #212 "Different behaviours between PyMySQL and MySQLdb"
Hello,

##### SUMMARY

I noticed different behaviours between `pymysql` and `mysqldb`. With `python3-mysqldb`, I can interact with the database without taking care about database credentials, however with `python-pymysql`, errors are triggered because authentication to the MySQL server failed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`mysql_db`

##### ANSIBLE VERSION

[code]

##### COL

[2021-08-31 12:18] Andersson007 commented on #212
@philippemilink hello, thanks for reporting the issue!

I don't see any differences in how the collection's module utils work with pymysql and mysqldb that can be related.
Could you please also
1. check if you use it with another module, say, with `mysq_info`, is the result same?
2. provide the versions of the drivers?
3.  run same task with the `-vvv` option and put the traceback part in a commen

[2021-09-07 00:40] Mythobeast opened #213 ""No database selected" when creating user on MariaDB"
##### SUMMARY

Attempting to create a user on a fresh database fails with the following message.
FAILED! => {"changed": false, "msg": "(1046, 'No database selected')"}

Workaround: By adding the following line to ~/.my.cnf I was able to make this work as expected.
database='mysql'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.mysql.mysql_user

##### ANSIBLE VERSION
[code]

##### C

[2021-09-07 05:19] Andersson007 commented on #213
@Mythobeast hello, thanks for the issue!
Could you please run the task with  `-vvv` and put the traceback in the issue?

[2021-09-08 12:15] bmillemathias opened #214 "Being able to set a replication filter on database"
##### SUMMARY
I'm looking for the possibility to set a replication filter on database to only replicate transaction for those databases.
In MySQL, this is equivalent to `CHANGE REPLICATION FILTER REPLICATE_DO_DB=(db1,db2);`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mysql_replication

##### ADDITIONAL INFORMATION
The feature would permit to define a replication but limited to a define

[2021-09-08 14:44] Andersson007 commented on #214
@bmillemathias thanks for reporting the feature idea!

[2021-09-11 09:22] mario-pranjic opened #215 "mysql_user: fails to connect (not reading .my.cnf file?)"
##### SUMMARY
Ansible code, environment and target server did not change. However, on re-run of Ansible code with latest version, I am getting:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible controler:

[code]

Ansible target node:

[code]

##### S

[2021-09-12 08:25] mario-pranjic commented on #215
Target database is mariadb. Seems like root auth is required to go via unix socket.

Solution: adding following parameter to mysql_user task:

`login_unix_socket: "/var/run/mysqld/mysqld.sock"`

This resolves the issue for mysql_user as well ass for other mysql_ modules when it comes to root auth.

This issue can be closed.

[2021-09-13 11:39] Andersson007 commented on #215
@mario-pranjic hi, welcome to the project and thank you for the issue and the solution!
Let's keep it open for some time. If there are similar issues appear, we should definitely investigate the code.

Ah, you're using MariaDB. I released `community.mysql 2.2.0-a1` a month ago that is available on Galaxy [here]( https://galaxy.ansible.com/community/mysql).
Would you like to contribute more and hel

[2021-09-14 06:55] mario-pranjic commented on #215
Hi Andrew,

I will certianly take a look. Can test both on mariadb and mysql.

[2021-09-14 06:57] Andersson007 commented on #215
Hi Mario, great, thanks! We'll be waiting for your feedback then!

[2021-09-21 05:47] dericcrago commented on #12
[AnsibleFest]: https://www.ansible.com/ansiblefest
[Ansible Contributor Summit]: https://ansiblecs202109.eventbrite.com/?aff=github
[Hackathon]: https://hackmd.io/@ansible-community/contrib-summit-202109#Hackathon
[Ansible Contributor Summit 2021.09 HackMD]: https://hackmd.io/@ansible-community/contrib-summit-202109

**Reminder - [AnsibleFest] and [Ansible Contributor Summit] are 1 week away!**

I

[2021-09-21 09:26] rsicart commented on #77
Same problem here. Someone knows if the fix for this issue is in the roadmap?

I tried to define specific global privileges (static, dynamic) to bypass this _ALL PRIVILEGES <-> "list of specific privileges"_ translation problem, but I've seen that there's a list of hard-coded VALID_PRIVS which doesn't contain all privileges.

[2021-09-21 10:27] Andersson007 commented on #77
Not in mine unfortunately (at least in the nearest future) but I'd be happy to review things if someone picks it up and submits a fix.

I'm thinking of determining the list of possible privileges dynamically (i.e. to fetch them from a server) instead of having the hardcoded ones. Though not sure if it's possible, if anyone shares the SQL query that works on all supported versions, it would be grea

[2021-09-22 11:23] Andersson007 commented on #31
I'm gonna release 2.2.0 tomorrow 23.09.2021 (it's pity that nobody has tested `mysql_role` module so far, see the previous comment...)

[2021-09-23 10:23] Andersson007 commented on #77
@rsicart , can this issue get closed?

[2021-09-23 10:46] Jorge-Rodriguez commented on #77
If I understood the PR correctly, the actual modification checks weren't updated, so I'd say the behaviour remains unchanged

[2021-09-23 11:47] Andersson007 commented on #31
2.2.0 (new module `mysql_role`) and 2.3.0 have just been released

[2021-09-23 12:32] Andersson007 commented on #31
community.mysql 1.4.3 has been released

[2021-09-23 13:19] rsicart commented on #77
As Tiriel said,  PR #217  doesn't solve this is issue, but perhaps fixes this other issue #110

[2021-09-23 13:26] Andersson007 commented on #110
closed via https://github.com/ansible-collections/community.mysql/pull/217

[2021-09-23 13:26] #110 closed

[2021-09-23 13:30] Andersson007 commented on #77
Closed that one, thanks for pointing out!

[2021-09-23 14:09] Andersson007 opened #224 "Add testing against MariaDB to CI, add more MySQL versions (at least the latest at the moment)"
##### SUMMARY
Add testing against MariaDB to CI and the latest MySQL version. Currently we test with MySQL 5.7.31 and 8.0.22

Related files (maybe something else):
[code]

[2021-09-27 08:06] Andersson007 commented on #12
[Ansible Contributor Summit]: https://ansiblecs202109.eventbrite.com/?aff=github
[Hackathon]: https://hackmd.io/@ansible-community/contrib-summit-202109#Hackathon
[Ansible Contributor Summit 2021.09 HackMD]: https://hackmd.io/@ansible-community/contrib-summit-202109

**Reminder** - Day 1 of the [Ansible Contributor Summit] and the [Hackathon] start tomorrow (Tuesday, 28 September 2021)!

For more

[2021-09-30 15:37] Andersson007 commented on #12
[Ansible Contributor Summit]: https://ansiblecs202109.eventbrite.com/?aff=github
[Hackathon]: https://hackmd.io/@ansible-community/contrib-summit-202109#Hackathon
[Ansible Contributor Summit 2021.09 HackMD]: https://hackmd.io/@ansible-community/contrib-summit-202109

**Reminder** - Day 2 of the [Ansible Contributor Summit] and the last day of the [Hackathon] start tomorrow (Friday, 1 October 2021)

[2021-10-12 10:38] Andersson007 opened #229 "Fix and turn on integration tests against devel"
##### SUMMARY
After this change in the default container https://github.com/ansible-collections/community.mysql/pull/226#discussion_r725619563 CI against `devel` has started failing.

They were turned off in https://github.com/ansible-collections/community.mysql/pull/228 (it's not mandatory but we have to fix it until branch `stable-2.13` will be created.

Fix and turn it on in a separate PR

####

[2021-10-12 10:41] Andersson007 commented on #229
we have a new CI challenge @Jorge-Rodriguez @unnecessary-username :))
If you're interested, feel free to pick it up:) We have ~6 months but I wouldn't table it:)

[2021-10-14 16:38] skjbulcher opened #230 ""unable to connect to database, check login_user and login_password are correct""
##### SUMMARY
I am fairly new to Ansible, so this may just be me, but I can't figure out how to connect to get mysql info. I'm using the plugin as part of the larger devsec.hardening package to secure a MariaDB installation. The install is brand new, so I can access the MariaDB client using `sudo mysql -uroot`.  I also figured out how to run other Ansible tasks on the target computer.

[code]

res

[2021-10-15 08:51] pookey opened #231 "MariaDB, parsing roles failed."
##### SUMMARY
When trying to manager a user with roles applied the user module appears to fail to parse existing grants.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
OpenSuse 15.3 / MariaDB 10.6.4

##### STEPS TO REPRODUCE

[code]

Running a show grants for this u

[2021-10-15 16:47] jb-2197 opened #232 "Unable to create user with privilege REPLICATION CLIENT on MariaDB 10.5.5"
##### SUMMARY
When trying to create a new user using the mysql_user module it error if you try to user REPLICATION CLIENT as a priv. As per the MariaDB docs this was renamed in v10.5.2 to BINLOG MONITOR but the old name should alias to this. In v2.1.0 of community.mysql it works as intended but in v2.3.0 it errors.

It would be nice to be able to run the same Ansible against a MariaDB 10.4 and 10.

[2021-10-18 08:24] Andersson007 commented on #232
@rsicart it relates to https://github.com/ansible-collections/community.mysql/pull/217. any ideas on how we can solve it quickly?

[2021-10-18 08:47] tuhoanganh commented on #232
This workaround fixed the problem.
Thank you so much :)

[2021-10-18 08:47] Andersson007 commented on #232
@tuhoanganh you're welcome!:)

[2021-10-18 10:26] Andersson007 commented on #232
But i believe this is a breaking change and the matter of a long term perspective.

I think there's no way back.

**Option 2 (for now):** could be returning VALID PRIVS and if the exception occurs we could check if the priv is there. I'll create a PR!:)

[2021-10-18 10:53] bmalynovytch commented on #232
@Andersson007 I thought this was handled by one of the latests PRs 🤔

[2021-10-18 13:25] #232 closed

[2021-10-18 14:04] Andersson007 commented on #230
@skjbulcher hi, thanks for reporting the issue!

1) Could you please try this with the latest Ansible version if possible **OR**
2) using the latest version of the collection See https://github.com/ansible-collections/community.mysql/blob/main/README.md.

I'm not 100% sure if this help but there have been a lot of changes introduced since that.

3) If this doesn't help, could you please try to add

[2021-10-19 06:30] Andersson007 opened #234 "mysql_user: get rid of privs comparison"
##### SUMMARY
(this is a thing to discuss)

We should analyze possibility to get rid of privs comparison entirely and use just a mechanisms like "try except": let's let the server decide which privs are supported and throw the exception itself.

A **solution** can conceptually look like the following:
- Remove priv comparison
- Add exception handling to catch an exception thrown by the DB (maybe t

[2021-10-19 12:38] Andersson007 opened #238 "CI: Add MariaDB support (i.e. let integration tests run using MariaDB as a server)"
##### SUMMARY

As there are issues specific to MariaDB reported and our fixes / features can affect MariaDB users, we need to have MariaDB in CI

Related files:
- .github/workflows/ansible-test-plugins.yml
- tests/integration/targets/setup_mysql/*

There's also currently not used role https://github.com/ansible-collections/community.mysql/tree/main/tests/integration/old_mariadb_replication that we

[2021-10-19 12:40] Andersson007 commented on #231
https://github.com/ansible-collections/community.mysql/issues/238

[2021-10-21 06:40] Andersson007 commented on #230
@skjbulcher , has anything helped? ^

[2021-10-21 15:58] #230 closed

[2021-10-29 21:48] MagentoPro opened #242 "Can't use "%" in community.mysql.mysql_query"
I have a query that uses the percentage character in a like statment...

` community.mysql.mysql_query:
        login_db: "{{ db_name }}"
        login_host: "{{ host }}"
        login_port: "{{ port }}"
        login_user: "{{ username }}"
        login_password: "{{ password }}"
        query: UPDATE user SET user_name = CONCAT(%(user_name)s,%(ticket)s) WHERE user_name = %(user_name)s AND user_n

[2021-11-01 08:50] Andersson007 commented on #242
@MagentoPro hi, thanks for reporting this!

@koleo would you like to pick it up?

[2021-11-01 11:04] koleo commented on #242
Hi,

Yes, I will look to correct this in the next few days.

[2021-11-03 22:58] koleo commented on #242
@MagentoPro I have reproduced and identified the bug you reported.

  A soon as you use `named_args` or `positional_args` option, a Python string substitution is applied. So any `%` character will be a candidate for replacement. If you expect the character `%` to stay as is, you should double it `%%`.

So your example should look like:

[code]

Note that you should Not double the percent sign if y

[2021-11-04 05:06] MagentoPro commented on #242
Thank you. I will give that a try.

On Wed., Nov. 3, 2021, 3:59 p.m. Nicolas PAYART ***@***.***>
wrote:

[2021-11-08 08:59] Andersson007 commented on #242
I won't close the issue because updating the doc sounds sensible. So if anyone wants to do this, welcome. I'll add the doc label.

[2021-11-16 09:43] bluikko opened #245 "mysql_user fails after first successful run with "no such grant defined""
##### SUMMARY

`mysql_user` succeeds on the first run but on the second and subsequent runs it fails with error `There is no such grant defined for user 'dbuser' on host '10.170.213.4'`.

The `mysql_user` task is run in a loop of 2, with first item being the IPv4 address host and second item being an IPv6 address. Only the first item fails - probably because there is a pre-existing user with host

[2021-11-20 08:28] #234 closed

[2021-11-20 12:09] Jorge-Rodriguez commented on #136
@Andersson007 I've been looking at the code this issue refers to and while the concern is valid, we seem to be doing something fairly stupid, namely:

1. We are supporting the privileges to be specified both as a string and a dictionary
2. If the privileges are specified as a dictionary, we serialize that dictionary into a string by massaging it into the format we expect the privileges string to h

[2021-11-20 12:19] #136 closed

[2021-11-25 08:57] Andersson007 commented on #245
@bluikko thanks for reporting this and the very detailed report!

[2021-11-25 09:28] Andersson007 commented on #180
After discussing things among us, current maintainers, we're happy to congratulate @rsicart on joining our club!:) Thank you for your interest in maintaining this collection! :tada:

[2021-11-25 10:00] rsicart commented on #180
Happy to join the club, thank you!

[2021-11-25 15:40] aadlung commented on #213
I get the same error, does this help?
Error looks like https://github.com/ansible/ansible/issues/68070

Ansible Task:
[code]

Mysql Module:
[code]

Shell Output:
[code]

[code]

[2021-11-26 10:09] toonvd opened #249 "Unable to set root Password when root starts off with the `auth_socket` plugin"
##### SUMMARY
When first starting with MySQL 5.7, I am trying to set the root password. But it does not work due to root having the `auth_socket` plugin. I am new in Ansible, so I might have done something wrong.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`mysql_user`

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubu

[2021-11-27 14:30] rsicart commented on #213
Specifying the option `database` in your `~/my.cnf` file does change anything?

[2021-11-28 09:53] aadlung commented on #213
I tried it with
[code]
In the ~/my.cnf or ~/.my.cnf on the **ansible client** where I run the playbook, none of that worked.

I've also tried to add it to the **ansible server** in the above mentioned `/root/.my.cnf` - then I get another error because my config tries to set permission to the performance_schema database.

[code]

The config I use is:
[code]

[2021-11-29 09:38] Andersson007 commented on #31
I'm going to release 2.4.0 today and 3.0.0 later this / next week.

[2021-11-29 15:16] Andersson007 commented on #31
community.mysql 2.3.2 has been released (FYI: there won't be 2.4.0 now and in the near future)

[2021-12-01 06:59] Andersson007 commented on #31
3.0.0 containing https://github.com/ansible-collections/community.mysql/pull/252, https://github.com/ansible-collections/community.mysql/pull/244, and https://github.com/ansible-collections/community.mysql/pull/243 will be released this week

[2021-12-01 07:00] Andersson007 commented on #145
closed via https://github.com/ansible-collections/community.mysql/pull/252

[2021-12-01 07:00] #145 closed

[2021-12-01 07:02] Andersson007 commented on #78
were replaced

[2021-12-01 07:02] #78 closed

[2021-12-01 07:03] Andersson007 commented on #98
closed via https://github.com/ansible-collections/community.mysql/pull/252

[2021-12-01 07:03] #98 closed

[2021-12-01 09:37] Andersson007 commented on #31
3.0.0 has been released!

@Jorge-Rodriguez @bmalynovytch @rsicart FYI I released from branches before but, in case of this collection, it turned out to be an overkill (got a bit tired to backport things to `stable-2`) as we merged the breaking changes right before the major release anyway. I would be easier to rebase breaking PRs.
I've put tag 3.0.0 in `main` and since then I will release from `ma

[2021-12-01 17:55] rsicart commented on #31
I think I have to read docs about this collection releasing process and branches 😄

So if I understand correctly, no breaking change PRs merged into main until next major release.

Branches like `stable-X` are long running branches for major version X?

[2021-12-01 18:06] Andersson007 commented on #31
Correct:)

[2021-12-06 15:52] jsefferon opened #256 "mysql_db module does not detect `mysqldump` failure"
##### SUMMARY
`mysql_db` module does not detect `mysqldump` failure when output is set to be a compressed file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`mysql_db`

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### OS / ENVIRONMENT

Encountered on `Debian GNU/Linux 9.13 (stretch)`.

##### STEPS TO REPRODUCE

You need to be able to get mysqldump to fail, in our case

[2021-12-10 09:57] Andersson007 commented on #256
@jsefferon hi, thank you for reporting and investigating this! Looks like a bug. I'll put the "help_wanted" label on the issue.

[2021-12-14 08:30] #238 closed

[2021-12-15 12:46] aworldofcode opened #258 "Unable to define NUll in Ansible set_fact"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

https://gist.github.com/aworldofcode/35de280946fabcc66e2eea15c8a13dd8

I am not able to pass a value of NULL from a key in set_fact , anyt advise / help appreciated ... I have tried various combinations.

# mariadb sql table includes the following column
`date_of_removal` datetime DEFAULT NULL,

# Th

[2021-12-15 15:29] aworldofcode commented on #258
TASK [cert_discovery : Debug certs output] *********************************************************************************************************************************************************
Wednesday 15 December 2021  07:32:27 -0500 (0:00:00.058)       0:00:00.998 ****
ok: [localhost] => {
    "etl_dictionary": {
        "date_of_removal": null
    }
}

TASK [cert_discovery : Print the etl_

[2021-12-16 09:39] rsicart opened #259 "Test replication channel on mariadb"
##### SUMMARY
Integration tests in [mysql_replication_channel.yaml](https://github.com/ansible-collections/community.mysql/blob/main/tests/integration/targets/test_mysql_replication/tasks/mysql_replication_channel.yml) are only played for mysql.
We shoud do the same tests for mariadb.

This Issue is related to PR https://github.com/ansible-collections/community.mysql/pull/246

##### ISSUE TYPE
- B

[2021-12-16 09:45] rsicart opened #260 "Test roles on mariadb"
##### SUMMARY
Integration tests for target `test_mysql_role` are only played for mysql.
We shoud do the same tests for mariadb.

This Issue is related to https://github.com/ansible-collections/community.mysql/pull/246

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mariadb integration tests

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS

[2021-12-16 09:51] rsicart opened #261 "Test TLS related tasks on mariadb"
##### SUMMARY
TLS on mariadb is disabled by default.
Integration tests related to TLS are only played for mysql.
We shoud do the same tests for mariadb.

This Issue is related to https://github.com/ansible-collections/community.mysql/pull/246

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mariadb integration tests

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIG

[2021-12-16 09:56] rsicart opened #262 "Test user auth plugin on mariadb"
##### SUMMARY
Integration tests in test_user_plugin_auth.yml are only played for mysql.
We shoud do the same tests for mariadb.

Search `FIXME: mariadb sql syntax for create/update user is not compatible` in the repo for more details.

This Issue is related to https://github.com/ansible-collections/community.mysql/pull/246

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mariadb integration te

[2021-12-16 11:20] Andersson007 commented on #262
@rsicart thank you for creating all of the related issues!

[2021-12-16 12:58] Andersson007 commented on #258
@aworldofcode hi, thank you for the question.

I think this is an expected behavior https://github.com/ansible/ansible/issues/57438#issuecomment-499559239

Couple of possible workarounds from me:
[code]

OR

[code]

[2021-12-16 12:59] Andersson007 commented on #258
Please let me know if this helps

[2021-12-16 15:58] aworldofcode commented on #258
@Andersson007 Thank you ! Let me review and run some test, I had to temporarily add for a `00:00:00: 00:00:00` default entry for now, which is not ideal at all so I look forward to testing these options.

[2021-12-17 13:40] NicolasGoeddel opened #263 "mysql_user: Add support for appending privileges"
##### SUMMARY
At the moment you have to specify all the different privileges a user can have on certain databases in one go:
[code]
But sometimes you just want to add a certain privilege for a new database without changing the privileges you gave the user in the past to other databases.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mysql_user

##### ADDITIONAL INFORMATION
If you only have

[2021-12-17 13:41] NicolasGoeddel commented on #263
Sorry, I am blind. There is already an option for that: `append_privs`.

[2021-12-17 13:41] #263 closed

[2021-12-20 06:09] Andersson007 commented on #263
@NicolasGoeddel hi, welcome to the project! No problem at all:)

[2021-12-20 23:30] NicolasGoeddel opened #264 "mysql_query should not masking sensitive data in its query output"
##### SUMMARY

In my Dev environment I've got a database with name `icingaweb` and a user and a password which is also `icingaweb`.
If I now use `mysql_query` with this query:
[code]
I get something like this as the output:
[code]
Usually the table name should be `icingaweb_group`. But because my password also is `icingaweb` somehow it gets totally mangled up. The interesting thing: This is the re

[2021-12-22 08:14] d-rupp opened #265 "mysql_user: Not using the mysql database as default can break replication"
##### SUMMARY
In replication setups that use filters on the mysql database (to have different privileges for single nodes or certain branches of the replication tree) using this module will break replication. Since the module is not using any database the statements will not be filtered out and you may try to change users that do not exists on the filtered replica.

I could open a PR to fix this,

[2021-12-22 10:53] Andersson007 commented on #265
@d-rupp hi and welcome to the project!
Needs opinion of specialists, @bmalynovytch @Jorge-Rodriguez @rsicart what do you think of the issue and the suggested options?

[2021-12-22 13:50] bmalynovytch commented on #265
Hi @d-rupp !

Thank you for your submission and your time.
What I don't get is, at what point in time did MariaDB or MySQL introduce "per database" user management ?

Module `mysql_user` doesn't allow a database name to be specified because user management is global (but still allows to specify per database privileges)

[2021-12-22 14:16] d-rupp commented on #265
No, that´s not what i mean.

User management is global - and it is written into the "mysql" database.

We are using replication filters (for example [binlog-ignore-db](https://dev.mysql.com/doc/refman/5.7/en/replication-options-binary-log.html#option_mysqld_binlog-ignore-db)) to exclude the "mysql" database from replication on ONE backend node (of several) so we can manage separate permissions on

[2021-12-22 14:49] bmalynovytch commented on #265
Got it !

Maybe dumb question, but not enforcing usage of `mysql` DB when managing users ?
That would solve your issue, and shouldn't harm other users ? (it would still require some tests to be confirmed)

[2021-12-22 16:17] d-rupp commented on #265
That is a 5 letter solution, i´m all for it :)

[2021-12-22 16:18] bmalynovytch commented on #265
If you're ready to be part of History, feel free to fill up a PR ;)

[2021-12-28 09:03] itcultus opened #268 "mysql_query returns changed: true when nothing is executed."
##### SUMMARY
I used the mysql_query with some "CREATE TABLE IF NOT EXISTS" statements.
The second time I run the query, it reports "changed" although nothing is executed since the tables are already created. The `mysql_query` module has the "changed: true" hardcoded in the return values simply by looking if some keywords are present. However, as you can see it's a bit more complex than that.

Let

[2022-01-04 11:21] artm commented on #212
We had just experienced the same discrepancy. Could it be that the libraries disagree on the meaning of `"localhost"` ? Sometimes it means "unix socket" in the mysql ecosystem and that seems to be the case when we use python mysqldb. PyMySQL on the other hand seems to use TCP/IP.

[2022-01-06 12:02] itcultus commented on #140
I don't want to open a new ticket for this, but I experience the same problem when I use the PyMySQL  (RHEL 8.x)  and the `mysql_query` module.
Should I raise a new issue for it? I suppose the issue is exactly the same.

[2022-01-07 07:57] itcultus opened #270 "UTF-8 characters in SQL Query result to errors"
##### SUMMARY
The issue is very similar to #140 .
When I use the `mysql_query` module with some UTF-8 characters it fails.

The SQL Query I use is the following:

[code]
The SQL query is part of the `phpipam` installation process that I try to automate with ansible.

The query is executed successfully when I use the mysql client without issues.
However, when I execute it via ansible with the `mysq

[2022-01-07 09:40] Andersson007 commented on #140
@itcultus thanks for the feedback! I think no additional issue is needed

[2022-01-07 09:42] itcultus commented on #140
@Andersson007 Oups!
I created one, so, please feel free to close it.
BTW, if you have something ready and you would like to test it, please ping me I will have some free time this weekend.

[2022-01-07 09:49] Andersson007 commented on #140
@itcultus ah, no problem, let's keep both the issues open:) thank you

[2022-01-07 09:49] Andersson007 commented on #270
a part of the discussion is in https://github.com/ansible-collections/community.mysql/pull/142

[2022-01-07 09:52] Andersson007 commented on #270
@itcultus thanks for reporting this! As a workaround i would suggest trying the `mysqlclient` connector instead of PyMySQL. Could you please try it and let us know that it helps?

[2022-01-07 09:53] Andersson007 commented on #270
`mysqlclient` is an actively maintained connector (by the same folks who are developing PyMSQL IIRC).

[2022-01-07 09:57] itcultus commented on #270
Absolutely!
How ? :)
Apologies for this so basic question, but I think I need some guidance on this.
(And I promise to update the documentation with it!)

[2022-01-07 10:03] Andersson007 commented on #270
It's just a regular pypi package available for installation via pip https://pypi.org/project/mysqlclient/.
So i would remove PyMySQL first, then would install mysqlclient and try

[2022-01-07 10:07] Andersson007 commented on #270
https://github.com/ansible-collections/community.mysql/pull/142#issuecomment-819333437 and below explains the result of our investigation

[2022-01-07 10:07] itcultus commented on #270
I don't use pip for system packages, but there is an RPM from EPEL, so, I will try this one.
It's not the latest version (1.4.6) instead of 2.1, but let's give it a try.

[2022-01-07 10:08] Andersson007 commented on #270
Sounds good, thanks. The essence of the result is that PyMySQL works a bit strange with Python3

[2022-01-07 20:26] life5ign opened #271 "ansible mysql_query connects to mysql read-only, but the server is not in read-only mode"
##### SUMMARY

ansible mysql_query connects to mysql read-only, but the server is not in read-only mode

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.mysql.mysql_query

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.04 (PopOS)

##### STEPS TO REPRODUCE

Run this query:

[code]

##### EXPECTED RESULTS

[2022-01-08 20:28] zeitounator commented on #271
*Note: this is a add-on to the comments already given on the [following StackOverflow question](https://stackoverflow.com/questions/70626612)*

---

What does the following task returns if you add it right before the one that fails ?

[code]
I could be wrong and will remove this message as soon as you prove me I am, but I'll very confidently bet that you will get `read_only = on`

This basically h

[2022-01-08 21:14] life5ign commented on #271
Thanks for the input: here is the output:
[code]

So it seems read_only is off, when queried by ansible as well.

[2022-01-08 21:16] zeitounator commented on #271
And the next query still reports that read_only is on ?

[2022-01-08 21:36] life5ign commented on #271
Yes, it still reports read_only.  I just tried a manual test, but I'm inexperienced with mysql:
[code]

[2022-01-08 21:36] life5ign commented on #271
Yes, it still reports read_only.  I just tried a manual test, but I'm inexperienced with mysql:
[code]

[2022-01-09 13:12] zeitounator commented on #271
This error has nothing to do with the previous your reported: it refuses the query because id=1 which is your table primary key already exists. What is the exact error you are getting then ?

[2022-01-10 15:03] #265 closed

[2022-01-10 16:40] life5ign commented on #271
OK, yes; successfully made an insert into the table while not attempting to duplicate the table's primary key, manually:
[code]
Then deleted it:
[code]

Then tried with ansible, and still got the read_only error:
[code]

[2022-01-15 19:14] mexon opened #272 "Raspberry Pi OS Bullseye not supported due to lack of Python2 MySQL libraries"
##### SUMMARY
I've been trying to run my playbook that contains this task:

[code]

It produces this error message:

[code]

I tried to fix it by changing the earlier package installation step by changing `python-mysqldb` to `python3-mysqldb`, and when that didn't work by adding `python3-pymysql`:

[code]

I also tried updating the version of community.mysql from 2.3.1 to 3.0.0.  But it still wasn

[2022-01-17 10:14] Andersson007 commented on #272
@mexon hello, thanks for reporting this!
When working with Python 3 libs, did you try to change the `ansible_python_interpreter` variable https://docs.ansible.com/ansible/latest/reference_appendices/python_3_support.html#:~:text=Ansible%20will%20automatically%20detect%20and,%2Fusr%2Fbin%2Fpython3. ? If not, could you please try and tell us if it helps.

[2022-01-17 18:53] mexon commented on #272
I tried adding `test1 ansible_python_interpreter=/usr/bin/python3` in my inventory, and indeed it no longer complains about a missing package.  Now it fails with `"unable to find /root/.my.cnf. Exception message: (1698, \"Access denied for user 'root'@'localhost'\")"`.  I don't have time to investigate that further, but it seems like setting the variable is a good idea.  Can the error message be c

[2022-01-18 07:27] Andersson007 commented on #272
@mexon thank you for the feedback!
1. Which module produced this error message? One of mysql_db.py, mysql_variables.py, mysql_replication?
2. Has passing the path to the file helped?

Thanks!

[2022-01-18 09:41] Andersson007 commented on #31
I'm releasing community.mysql 3.1.0, 2.3.3, and 1.4.4 this week

[2022-01-18 09:46] Andersson007 commented on #261
@rsicart @Jorge-Rodriguez do one of you want to solve this issue?

[2022-01-18 10:40] Andersson007 commented on #31
community.mysql 3.1.0, 2.3.3, and 1.4.4 have been released. It turned out to be a bit faster than I had expected:)

[2022-01-18 17:40] rsicart commented on #213
Hi there!

does the PR https://github.com/ansible-collections/community.mysql/pull/266 fix your issue?

[2022-01-18 17:43] rsicart commented on #224
Hey @Andersson007 ,

Does PR https://github.com/ansible-collections/community.mysql/pull/246 fix this issue?

[2022-01-18 17:45] rsicart commented on #214
Hi @bmillemathias

does this PR https://github.com/ansible-collections/community.mysql/pull/266 fix your issue?

[2022-01-18 17:48] rsicart commented on #167
Hi,

does this PR https://github.com/ansible-collections/community.mysql/pull/250 fix this issue?

[2022-01-18 20:25] mexon commented on #272
It's mysql_db.py.  I tried `ANSIBLE_KEEP_REMOTE_FILES=1` and I have the temporary file called `AnsiballZ_mysql_db.py`.  It's got passwords and stuff in so probably not a good idea to post it here.

From a quick look at it, I would guess it's related to this new thing where by default, mariadb does not allow login as root.  Instead you have to sudo and login without any credentials.  That is:

[cod

[2022-01-21 08:04] Andersson007 commented on #213
@rsicart thanks!
@Mythobeast @aadlung could you please try the new argument from https://github.com/ansible-collections/community.mysql/pull/266 and let us know if it helps. I'll close the issue for now. If it does not help, we'll reopen it. Thank you!

[2022-01-21 08:04] #213 closed

[2022-01-21 08:06] Andersson007 commented on #224
@rsicart thanks for purging irrelevant issues!

[2022-01-21 08:06] #224 closed

[2022-01-21 08:10] Andersson007 commented on #214
@bmillemathias could you please try the new argument https://github.com/ansible-collections/community.mysql/pull/266 and let us know if it helps (if it doesn't, we'll reopen the issue).
@bmillemathias @rsicart thank you!

[2022-01-21 08:10] #214 closed

[2022-01-21 08:12] Andersson007 commented on #167
@rsicart @Jorge-Rodriguez @ziegenberg thank you! (if there are any objections on the implementation https://github.com/ansible-collections/community.mysql/pull/250, we'll reopen the issue)

[2022-01-21 08:12] #167 closed

[2022-01-21 08:31] Andersson007 commented on #272
@mexon thanks for the feedback!
1. I think we should definitely mention the possible issues (same as you get) and  elaborate a bit more on the solution in the NOTES section of https://github.com/ansible-collections/community.mysql/blob/main/plugins/doc_fragments/mysql.py. Yes, there's some related info already there but it's not enough, IMO. Would you like to create a PR? I would add it to the sec

[2022-01-21 14:11] BuhtigithuB commented on #85
I have the exact same issue, trying to restore a dump in a container instance of mysql official container image... I only been able to login mysql while specifying the protocol switch with TCP value... I would suggest replacing dump_extra_args with extra_args that could be use either with state: dump or state: import

[2022-01-21 14:19] BuhtigithuB commented on #85
I think I a can easily add the feature and sending a PR, although I would need to know if we want to keep things separate (dump_extra_args and import_extra_args) or we convert dump_extra_args into extra_args??

[2022-01-21 15:12] BuhtigithuB commented on #85
A bit more complicated then anticipated... We have to specified extra args to mysql at connection and not to mysqldump :(

I will try to render it possible...

[2022-01-21 15:33] BuhtigithuB commented on #85
I am not sure what is the best way between implementing protocol=<MYSQL_CONNECTION_PROTOCOLS> or allowing mysql extra_args to be passed... Is there any guidance here?

[2022-01-22 19:58] mexon commented on #272
Well, now that I actually _read_ the notes, I see that they do suggest changing the interpreter, and provide a link to the documentation 😳  So there's nothing much to add there, but I followed your suggestion and submitted a PR that expands the notes slightly.  I also expanded the error message, which I'd argue is the more important place to put hints.  I'm not the only person out there who submit

[2022-01-24 12:56] Andersson007 commented on #272
@mexon thank you for the feedback and PR! I've added a couple of minor things and have mentioned our lovely maintainers there:)

[2022-01-24 13:20] Andersson007 commented on #85
@BuhtigithuB thanks for investigating!

Not sure I fully understand. As i can see [here](https://dev.mysql.com/doc/refman/8.0/en/mysqldump.html#:~:text=The%20mysqldump%20client%20utility%20performs,transfer%20to%20another%20SQL%20server.), `--protocol` can be passed to `mysqldump` via the `dump_extra_args` argument of the `db_dump` function. Could you please elaborate a bit more?
I think adding a

[2022-01-24 15:45] BuhtigithuB commented on #85
Yes you right, but I don't have the issue with mysqldump, I have it at load time with mysql client... mysql-db uses mysql client to start a session then pass the sql commands to it... So, I can't just add "extra_args" parameters to db_import() : https://github.com/ansible-collections/community.mysql/blob/main/plugins/modules/mysql_db.py#L505

So my questioning, shall I add extra_args to the underl

[2022-01-24 15:55] Andersson007 commented on #85
@BuhtigithuB OK, please go ahead, thanks:)

[2022-01-25 10:18] Cardy165 commented on #6
I have been hitting this exact issue, there is no way I can see to specify the using service name.

[2022-01-25 22:07] BuhtigithuB commented on #85
@Andersson007, when you have time to look at #280 please comment... I didn't test anything, but it shall be near to what has to be done to support --protocol=TCP everywhere.

Thanks

[2022-01-26 07:30] Andersson007 opened #281 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-01-26 10:42] Andersson007 commented on #85
@BuhtigithuB done, thanks!

[2022-02-07 12:17] Andersson007 commented on #31
if someone else wants to release 3.1.1 and 2.3.4 (in other words learn how to release / become a release engineer here), I would be happy to lead you through the process. Please let me know:)

p.s. we can wait for the day / time suitable for you

[2022-02-07 12:18] Andersson007 commented on #12
FYI: if someone else from current maintainers wants to release 3.1.1 and 2.3.4 (in other words learn how to release / become a release engineer here), I would be happy to lead you through the process. Please let me know:)

p.s. we can wait for the day / time suitable for you

[2022-02-08 07:32] abitrolly opened #284 "Set settings in `my.cfg`"
##### SUMMARY

It looks like [these modules](https://docs.ansible.com/ansible/latest/collections/community/mysql/index.html) provide no way to set global `mysqld` settings in `/etc/my.cfg`, like `skip-name-resolve` etc.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
community.mysql

##### ADDITIONAL INFORMATION

There should be a least an example how to use other modules and locate necessa

[2022-02-16 08:41] Andersson007 commented on #284
@abitrolly thanks for sharing the idea!

Do I understand correctly that you need to add some settings to `/etc/my.cnf`?
Can't we achieve that by using some core modules like [lineinfile](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/lineinfile_module.html), for example?

[2022-02-16 09:45] Andersson007 commented on #31
I'm gonna release 3.1.1 and 2.3.4 today

[2022-02-16 10:55] Andersson007 commented on #31
[community.mysql](https://github.com/ansible-collections/community.mysql) [2.3.4](https://github.com/ansible-collections/community.mysql/blob/stable-2/changelogs/CHANGELOG.rst) and [3.1.1](https://github.com/ansible-collections/community.mysql/blob/main/changelogs/CHANGELOG.rst) have been released.

[2022-02-16 11:23] abitrolly commented on #284
@Andersson007 yes, I needed to set the config variable as a workaround for this bug - https://mariadb.zulipchat.com/#narrow/stream/118759-general/topic/Insufficient.20data.20for.20.22Access.20denied.22.20errors

The problem is that I am not certain which config file is being used, and where is the section that should be updated.

[2022-03-01 16:57] #229 closed

[2022-03-04 09:52] #260 closed

[2022-03-04 18:21] rsicart opened #292 "mysqlclient doesn't work with mariadb"
##### SUMMARY

Integration tests do not pass for roles and they have been disabled in #291 .
See https://github.com/ansible-collections/community.mysql/pull/291/checks?sha=1ebcfb1a77eadc3dbd47a0157b8002229b0c2dfe for more details.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Integration tests for roles

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[2022-03-07 08:59] Andersson007 commented on #292
@rsicart thanks for creating the issue!

[2022-03-10 13:08] davelukes-pp commented on #96
I wanted this feature too, but then I thought about it and I did:
[code]
in my task.
Does that do what you are asking for @akamac?

[2022-03-10 13:48] davelukes-pp opened #294 "Can't grant multiple privileges for the same db.table combination"
##### SUMMARY

Apologies if this is a duplicate, but I've searched the issues list and I can't see anything like this.

If you have something like:
[code]
in a `mysql_user` task, the user will be granted the `SHOW VIEW` privilege and not the `SELECT` privilege.
I've tested several different combinations and if you have the same `db.table` combination this will always happen.

My _limited_ knowledg

[2022-03-10 14:05] akamac commented on #96
My point is if the module can read env vars, I can set environment on playbook level and avoid passing these options to every module invocation.

[2022-03-10 17:34] dotneutron opened #295 "mysql_user expires password on second run"
##### SUMMARY
I want to create non-root users with `mysql_user`. Everything goes fine when I run the playbook once. The second time I run it, the task is again marked as `changed` despite having `msg: User unchanged` in the result. The issue is that `password_expired` is changed to `true` inside the `mysql.user` table after the second run, which makes it impossible for users to log in without a wo

[2022-03-10 18:06] dotneutron commented on #295
I just managed to get it to stop expiring passwords. I substituted `password: "{{ item.password }}"` with `plugin_auth_string: "{{ item.password }}"`. It makes sense since I specified the `plugin` variable, but perhaps this could be mentioned somewhere in the docs so that people know these options are kinda mutually exclusive, or some similar wording.

The task is now marked as `changed` no matter

[2022-03-11 07:33] Andersson007 commented on #96
it would require a new option but we can reach the same using what @davelukes-pp suggested + the following construction:
[code]
You "unpack" the parameters and it would be the same as an additional option and even more flexible. We use it in [CI](tests/integration/targets/test_mysql_query/tasks/mysql_query_initial.yml) widely to avoid repetitions.

[2022-03-11 07:37] Andersson007 commented on #96
so in your case
[code]

[2022-03-11 07:49] Andersson007 commented on #294
@davelukes-pp hi, thanks for the issue and your interest in helping with this collection! We always need more hands and eyes!

I would suggest:
1. trying the latest version of this collection. You could [install ansible-core](https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#installing-ansible-core) on your test machine and the [latest version of the collection](ht

[2022-03-11 08:16] akamac commented on #96
Yep, I'm already doing the same, but having module-level support for env vars will be much better, since yaml anchors should be defined in each file.

[2022-03-11 12:47] Andersson007 commented on #96
Sounds sensible, though it is an additional option. If there's a wide demand for that, i would be OK with the suggestion. @rsicart @Jorge-Rodriguez @bmalynovytch any thoughts?

[2022-03-11 21:01] davelukes-pp commented on #294
Hi @Andersson007,
Thanks.

1. Yes, I know that I can pass multiple privs using commas and that works,
but in my use case I'm merging multiple sets of privs from separate sources, so this would be much more difficult.
AFAICS this is a bug, or at least an undocumented "feature", so it should at least be documented if not fixed.
1. The latest version of the collection still has the same bug in it: I

[2022-03-14 14:02] Andersson007 commented on #31
I'm gonna release 2.3.5 and 3.1.2 which will contain [critical bugfix](https://github.com/ansible-collections/community.mysql/pull/293) for the `mysql_role` module

[2022-03-14 15:45] Andersson007 commented on #292
closed via https://github.com/ansible-collections/community.mysql/pull/293

[2022-03-14 15:45] #292 closed

[2022-03-15 07:39] Andersson007 commented on #294
@davelukes-pp yes, i see now. Not sure if we should change it or just document. I would prefer documenting because the case feels generally a bit rarer.
@rsicart @bmalynovytch @Jorge-Rodriguez any thoughts?

[2022-03-15 10:21] Andersson007 commented on #268
@itcultus hi, thanks for reporting this! Sorry for the late reply - missed the issue somehow. Would you like to pick it up? If we can catch the warning and parse, we could add a corresponding action, ie. if already exists in warning: changed = False or something

[2022-03-15 12:17] rsicart commented on #294
I would say that the fastest and less intrusive is documenting.

[2022-03-15 12:33] Andersson007 commented on #294
@davelukes-pp would you like to submit a doc PR?

[2022-03-16 09:50] Andersson007 commented on #294
@davelukes-pp

I would disagree as it would, imo, just confirm the actual behavior:)

You know, my experience is telling me that changing the code can often make unexpected side effects..:) And it would be especially undesirable in such an important part of such the important module.
So that's why we prefer changing documentation in similar cases. I wouldn't say this is a bug because i personally

[2022-03-16 18:20] rsicart opened #310 "Patchback bot"
##### SUMMARY
As discussed with @Andersson007, setting up [patchback bot](https://github.com/sanitizers/patchback-github-app) to backport PRs from `main` to other `stable-*` branches could save a lot of time.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Patchback bot

##### ADDITIONAL INFORMATION

The main objective is saving time when releasing the collection.

It's used in other collec

[2022-03-17 08:30] #310 closed

[2022-03-17 11:55] davelukes-pp commented on #294
@Andersson007
Of course I defer to you and the rest of the maintainers,
but I must say that I think that there is an important issue here:
the current behaviour _**silently** ignores_ some of the given privileges. How can this be correct?
Either it should use all the privileges or it should warn that it is ignoring the previous privileges.
I can't think of any situation where you would want to sup

[2022-03-17 12:24] the02 opened #314 "add inserted row id to return on insert queries"
##### SUMMARY
it would be nice if the last inserted row ID could be returned when an insert query has successfully executed

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mysql_query

##### ADDITIONAL INFORMATION
In some cases it would be very useful to get the last inserted ID so it could be referenced in the following tasks, for example in the query_result as `lastrowid` or `last_insert_

[2022-03-21 08:30] Andersson007 opened #315 "Ansible Contributor Summit. Tuesday, April 12, 2022."
##### Ansible Contributor Summit

We are happy to announce that the registration for the [Ansible Contributor Summit](https://hackmd.io/@ansible-community/contrib-summit-202204/%2FlV3o41__RLiX8P2rm-gGKA) is open!

##### Why

- This is a great opportunity for interested people to meet, discuss related topics, share their stories and opinions, get the latest important updates and just to hang out to

[2022-03-25 06:40] #294 closed

[2022-03-25 07:42] Andersson007 commented on #294
@davelukes-pp thanks for reporting the issue and reviewing the PR!
@rsicart thanks for reviewing!

[2022-03-25 07:47] #281 closed

[2022-03-25 08:00] Andersson007 commented on #271
@life5ign hi, thanks for the report.
I don't think this related to `mysql_query` as it just passes queries to a mysql python driver and returns the result.
We have multiple places in integration tests where the module inserts data and there's no problem with this.
If there's any error occurs on the DB's side, the module returns the error, like in this case.
So i would continue troubleshooting on t

[2022-04-01 09:19] #272 closed

[2022-04-04 11:08] betanummeric opened #329 "mysql_role closes connection twice"
##### SUMMARY
The mysql_role module closes the mysql connection too often.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module community.mysql.mysql_role

##### VERSIONS
[code]

##### STEPS TO REPRODUCE
tested with this playbook task:
[code]

##### EXPECTED RESULTS
Only closing the connection once, without warnings.

##### ACTUAL RESULTS
Ansible logs a warning because it fails to close an

[2022-04-04 16:58] betanummeric opened #331 "mysql_user, mysql_role: add option to revoke privileges explicitly"
#### SUMMARY
When updating a role, its privileges are either added or replaced, depending on the `append_privs` argument. I would like to add an argument to revoke privileges explicitly.

##### USECASE
I read the desired privileges from a dynamic source. To ensure no privileges are revoked in case the dynamic source accidentally returns incomplete information, I need to revoke privileges explicitl

[2022-04-05 07:35] #329 closed

[2022-04-11 17:22] Jorge-Rodriguez commented on #331
While the completeness feature of option 2 outlined by @betanummeric is quite interesting, I think the syntax is a bit clunky and the semantics confusing (what happens when a privilege appears in both parameters? And so on).

I like option 1 because it maintains the existing syntax and semantics of `append_privs`.

In a counter argument to option 2 for setting and revoking privileges in one step,

[2022-04-11 18:15] betanummeric commented on #331
@Jorge-Rodriguez All options allow to grant and revoke privileges in one step (by keeping the current behavior with `append_privs: no` available). Option 2 is the only option where you could keep not-specified privileges while granting and revoking specified privileges in one step.
With option 2, privileges appearing in both parameters should result in an error or a documented precedence.

All opt

[2022-04-12 07:18] Andersson007 commented on #331
Yep, thanks everyone for sharing your opinions!
Let's proceed with option 1 then.
@betanummeric are you OK with raising a PR?
If yes, remember to add:
- a [changelog fragment](https://docs.ansible.com/ansible/latest/community/development_process.html#creating-a-changelog-fragment)
- to cover the changes with integration tests (including with `check_mode: yes`). Running integration tests locally be